<%= form_for(@provider) do |form| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <ol class="section ">
      <li class="selfclear">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </li>
      
      <li class="selfclear">
        <%= form.label :short_name %>
        <%= form.text_field :short_name %>
      </li>
      
      <li class="selfclear">
        <%= form.label :provider_type %>
        <%= form.select :provider_type, options_for_select(@provider_types.map {|pt| [pt,pt]}, @provider.provider_type) %>
      </li>
      
      <li class="selfclear">
        <%= form.label :agency %>
        <%= form.text_field :agency %>
      </li>
      
      <li class="selfclear">
        <%= form.label :branch %>
        <%= form.text_field :branch %>
      </li>
      
      <li class="selfclear">
        <%= form.label :subcontractor %>
        <%= form.text_field :subcontractor %>
      </li>
    </ol>
    
    <div class="actions">
      <%= form.submit %>
    </div>

  </fieldset>


<% end %>
