<div id="page-header">
  <h1>Listing Providers</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Agency</th>
    <th>Branch</th>
    <th>Subcontractor</th>
  </tr>
  <% @providers.each do |provider| %>
    <tr>
      <td><%= link_to provider.name, edit_provider_path(provider) %></td>
      <td><%= provider.provider_type %></td>
      <td><%= provider.agency %></td>
      <td><%= provider.branch %></td>
      <td><%= provider.subcontractor %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @providers %>

<%= link_to 'New Provider', new_provider_path, :class => "action-bttn" if current_user.is_admin %>
