<div id="page-header">
  <h1>Dashboard</h1>
</div>

<ul id="dashboard">
  <li><%= link_to "Flex Reports", :controller => "flex_reports" %></li>
  <li><%= link_to "Predefined Reports", :controller => "predefined_reports" %></li>
  <li><%= link_to "Summaries", :controller => "summaries" %></li>
  <li><%= link_to "Trips", :controller => "trips" %></li>
  <li><%= link_to "Runs", :controller => "runs" %></li>
  <li><%= link_to "Users", :controller => "users", :action => "index" %></li>
</ul>
