  <ol class="section first">

    <%= f.hidden_field :id %>

    <li>
      <%= f.label :customer, "Customer:" %>
      <p class="disabled-input">
        <% if @customer.name %>
          <%= @customer.name %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :home_address, "Home Address:" %>
      <p class="disabled-input">
        <% if @home_address.display_name %>
          <%= @home_address.display_name %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :pickup_address, "Pickup Address:" %>
      <p class="disabled-input">
        <% if @pickup_address.display_name %>
          <%= @pickup_address.display_name %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :dropoff_address, "Dropoff Address:" %>
      <p class="disabled-input">
        <% if @dropoff_address.display_name %>
          <%= @dropoff_address.display_name %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li><%= f.label :volunteer_trip, "Volunteer Trip:", :class => "checkbox" %> <%= f.check_box :volunteer_trip %></li>

    <li><%= f.label :in_trimet_district, "In Trimet District:" %> <%= f.check_box :in_trimet_district %></li>

    <li>
      <%= f.label :trip_import_id, "Trip Import ID:" %>
      <p class="disabled-input">
        <% if @trip.trip_import_id %>
          <%= @trip.trip_import_id %>
          <% if !@trip.trip_import_id.nil? %>
            <br />
            <%= link_to "View All trips from this Import", url_for(:action=>:import_trips, :id=>@trip.trip_import_id) %>
          <% end %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :routematch_share_id, "Routematch Share ID:" %>
      <p class="disabled-input">
        <% if @trip.routematch_share_id %>
          <%= @trip.routematch_share_id %>
          <% if !@trip.routematch_share_id.nil? %>
            <br />
            <%= link_to "View All trips in this shared ride", url_for(:action=>:share, :id=>@trip.routematch_share_id) %>
          <% end %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :run_id, "Run ID:" %>
      <p class="disabled-input">
        <% if @trip.run_id %>
          <%= @trip.run_id %>
          <% if !@trip.run_id.nil? %>
            <br />
            <%= link_to "View All Trips in this Run", url_for(:action=>:run, :id=>@trip.run_id) %>
          <% end %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :start_at, "Start At:" %>
      <p class="disabled-input">
        <% if @trip.start_at %>
          <%= @trip.start_at %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :end_at, "End At:" %>
      <p class="disabled-input">
        <% if @trip.end_at %>
          <%= @trip.end_at %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>
    
    <li class="selfclear">
      <%= f.label :case_manager, "Case Manager:" %>
      <%= f.text_field :case_manager %>
    </li>
    
    <li class="selfclear">
      <%= f.label :spd_office, "SPD Office:" %>
      <%= f.text_field :spd_office %>
    </li>
    
    <li class="selfclear">
      <%= f.label :date_enrolled, "Date Customer Enrolled:" %>
      <%= f.text_field :date_enrolled, :class => "datepicker"  %>
    </li>
    
    <li class="selfclear">
      <%= f.label :service_end, "Customer Service End:" %>
      <%= f.text_field :service_end, :class => "datepicker" %>
    </li>
    
    <li class="selfclear">
      <%= f.label :approved_rides, "Customer Approved Rides:" %>
      <%= f.text_field :approved_rides, :type => "number" %>
    </li>
  </ol>

  <ol class="section second">

    <li><%= f.label :odometer_start, "Odometer Start:" %> <%= f.text_field :odometer_start %></li>

    <li><%= f.label :odometer_end, "Odometer End:" %> <%= f.text_field :odometer_end %></li>

    <li>
      <%= f.label :mileage, "Mileage:" %>
      <p class="disabled-input">
        <% if @trip.mileage %>
          <%= @trip.mileage %> (Calculated from odometer values)
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li><%= f.label :fare, "Fare:" %> <%= f.text_field :fare %></li>

    <li><%= f.label :purpose_type, "Purpose Type:" %> <%= f.text_field :purpose_type %></li>

    <li><%= f.label :guest_count, "Guest Count:" %> <%= f.text_field :guest_count, :size => 3 %></li>

    <li><%= f.label :attendant_count, "Attendant Count:" %> <%= f.text_field :attendant_count, :size => 3 %></li>

    <li><%= f.label :mobility, "Mobility:" %> <%= f.text_field :mobility %></li>

    <li>
      <%= f.label :calculated_bpa_fare, "Calculated BPA Fare:" %>
      <p class="disabled-input">
        <% if @trip.calculated_bpa_fare %>
          <%= @trip.calculated_bpa_fare %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li><%= f.label :bpa_driver_name, "BPA Driver Name:" %> <%= f.text_field :bpa_driver_name %></li>

  </ol>

  <ol class="section third">

    <li>
      <%= f.label :override, "Override:" %>
      <p class="disabled-input">
        <% if @trip.override %>
          <%= @trip.override %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :original_override, "Original override:" %>
      <p class="disabled-input">
        <% if @trip.original_override %>
          <%= @trip.original_override %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :estimated_trip_distance_in_miles, "Routematch Estimated Trip Distance:"  %>
      <p class="disabled-input">
        <% if @trip.estimated_trip_distance_in_miles %>
          <%= @trip.estimated_trip_distance_in_miles %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :routematch_trip_id, 'Routematch Trip ID' %>
      <p class="disabled-input">
        <% if @trip.routematch_trip_id %>
          <%= @trip.routematch_trip_id %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li><%= f.label :result_code, "Result Code:" %> <%= f.select :result_code, Trip::RESULT_CODES %></li>

    <li><%= f.label :allocation, "Allocation:" %> <%= f.collection_select :allocation_id, @allocations, :id, :name %></li>

    <li><%= f.label :customer_pay, "Customer Pay:" %> <%= f.text_field :customer_pay %></li>

    <li>
      <%= f.label :duration, "Duration:" %>
      <p class="disabled-input">
        <% if @trip.duration %>
          <%= @trip.duration %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :apportioned_duration, "Apportioned Duration:" %>
      <p class="disabled-input">
        <% if @trip.apportioned_duration %>
          <%= @trip.apportioned_duration %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :apportioned_mileage, "Apportioned Mileage:" %>
      <p class="disabled-input">
        <% if @trip.apportioned_mileage %>
          <%= @trip.apportioned_mileage %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :apportioned_fare, "Apportioned Fare:" %>
      <p class="disabled-input">
        <% if @trip.apportioned_fare %>
          <%= @trip.apportioned_fare %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

    <li>
      <%= f.label :complete, "Complete:" %> <%= f.check_box :complete, :tabindex=>3 %>
    </li>
    
    <li>
      <%= f.label :updated_by, "Updated By:" %>
      <p class="disabled-input">
        <% if @updated_by_user.email %>
          <%= @updated_by_user.email %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </li>

  </ol>

  <ol class="section fourth">

  <% if !f.object.new_record? %>
    <li>
      <%= f.label :adjustment_notes, "Adjustment Notes:" %>
      <%= f.text_area :adjustment_notes, {:rows=>7, :columns=>60} %>
    </li>
  <% end %>

  </ol>


