<% if trips.total_entries > 0 %>
  <div class="report-wrapper">
    <table id="trip-results">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Date</th>
          <th>Status</th>
          <th>Provider</th>
          <th>Funding Source</th>
          <th>Program</th>
          <th>Trip Purpose</th>
          <th>Pickup</th>
          <th>Dropoff</th>
          <th class="number">Trip Count</th>
          <th class="number">Fare</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% trips.each do |trip| %>
          <tr>
            <td><%= link_to_unless_current trip.customer.name, customer_path(trip.customer) %></td>
            <td><%= trip.date %></td>
            <td><%= Trip::RESULT_CODES.invert[trip.result_code] %></td>
            <td><%= trip.allocation.provider.name if trip.allocation.provider %></td>
            <td><%= trip.allocation.project.funding_source.try(:name) if trip.allocation.project %></td>
            <td><%= trip.allocation.program.name if trip.allocation.program %></td>
            <td><%= trip.purpose_type %></td>
            <td><%= raw gmaps_address_link trip.pickup_address, "trip-pickup" %></td>
            <td><%= raw gmaps_address_link trip.dropoff_address, "trip-dropoff" %></td>
            <td class="number"><%= trip.customers_served %></td>
            <td class="number"><%= number_to_currency trip.apportioned_fare %></td>
            <td><%= link_to "Details", trip, {:title=>"View details for this trip", :class => :details} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate trips %>
<% end %>
