<div id="page-header">
  <h1>View Trips</h1>
</div>

<%= form_for @query, :html=>{:id=>"trip-filter", :method=>:get}, :url=>{:action=>:list} do |f| %>
  <fieldset>
    <ol class="section first">
      <li>
        <%= f.check_box :all_dates %> <%= f.label :all_dates %>
      </li>
      <li>
        <%= f.label :start_date, "Start Date:" %> 
        <%= f.text_field :start_date, :class=>"datepicker" %>
      </li>
      <li>
        <%= f.label :end_date, "End Date:" %> 
        <%= f.text_field :end_date, :class=>"datepicker" %>
      </li>
      <li>
        <%= f.label :customer_first_name, "Customer first name contains:" %> 
        <%= f.text_field :customer_first_name %>
      </li>
      <li>
        <%= f.label :customer_last_name, "Customer last name contains:" %> 
        <%= f.text_field :customer_last_name %>
      </li>
    </ol>

    <ol class="section fourth">
      <li>
        <%= f.label :provider, "Provider:" %> 
        <%= f.collection_select :provider, @providers, :id, :name, :include_blank => true %>
      </li>
      <li>
        <%= f.label :allocation, "Allocation:" %> 
        <%= f.select :allocation, options_for_select( @allocations.map { |a| [a.name, a.id, {'data-provider-id' => a.provider_id } ] }), :include_blank => true %>
      </li>
      <li>
        <%= f.label :subcontractor, "Subcontractor:" %> 
        <%= f.select :subcontractor, @subcontractors, :include_blank => true %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit "Search", :id => "trip-search" %>
      <%= f.submit "Download All Fields as CSV" %>
      <%= f.submit "Download BPA Invoice Data" %>
    </div>

  </fieldset>
<% end %>

<%= render "trips" %>
