<div id="page-header">
  <h1>View Trips</h1>
</div>

<%= form_for @query, :html=>{:id=>"trip-filter", :method=>:get}, :url=>{:action=>:list} do |f| %>
  <fieldset>
    <ol class="section first">
      <li><%= f.label :start_date, "Start Date:" %> <%= f.text_field :start_date, :class=>"datepicker" %></li>
      <li><%= f.label :end_date, "End Date:" %> <%= f.text_field :end_date, :class=>"datepicker" %></li>
    </ol>

    <ol class="section fourth">
      <li><%= f.label :provider, "Provider:" %> <%= f.collection_select :provider, @providers, :id, :name, :include_blank => true %></li>
      <li><%= f.label :allocation, "Allocation:" %> <%= f.collection_select :allocation, @allocations, :id, :name, :include_blank => true %></li>
    </ol>

    <div class="actions">
      <input id="trip-search" type="submit" value="Search" />
    </div>

  </fieldset>
<% end %>

<%= form_for @query, :html=>{:id=>"trip-filter", :method=>:get}, :url=>{:action=>:list} do |f| %>
    <%= f.hidden_field :format, {:value=>"csv"} %>
    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :end_date %>
    <%= f.hidden_field :provider %>
    <%= f.hidden_field :allocation %>
    <input id="csv" type="submit" value="CSV" />
<% end %>

<%= render "trips" %>
