<div id="page-header">
  <h1>View Trips</h1>
</div>

         <%= form_for @query, :html=>{:id=>"trip-filter", :method=>:get}, :url=>{:action=>:list} do |f| %>
           <div class="ui-widget">
             Trips between
             <span id="startday-wrap"><%= f.text_field :start_date %></span>and<span id="endday-wrap"><%= f.text_field :end_date %></span>
           	<span id="provider-wrap">
		  <%= f.collection_select :provider, @providers, :id, :name, :include_blank => true %>
          	</span>
           	<span id="funding-source-wrap">
		  <%= f.collection_select :allocation, @allocations, :id, :name, :include_blank => true %>
          	</span>
          	<input id="trip-search" type="submit" value="Search" />
           </div>
         <% end %>
<%= render "trips" %>
