<div id="page-header">
  <h1>Mark Trips and Runs Complete</h1>
</div>

<%= form_tag :action=>:bulk_update, :method=>"POST" do  %>
  <fieldset>

    <p>Mark all trips and runs complete for the following period:</p>

    <ol class="section first">
      <li><%= label_tag :start_date, "Start Date:" %> <%= text_field_tag :start_date, nil, :class=>"datepicker" %></li>
      <li><%= label_tag :end_date, "End Date:" %> <%= text_field_tag :end_date, nil, :class=>"datepicker" %></li>
    </ol>

    <div class="actions">
      <%= submit_tag 'Update' %>
    </div>

  </fieldset>
<% end %>
