<% if @trip.versions.count > 1 %>
<div id="history">
  <h2>Versions</h2>
  <ul><!-- Right now, the versions method isn't sorted at all. I suspect we'll want to add that (maybe at the model level?) -->
  <% @trip.chronological_versions.each do |version| %>
    <li>
      <% if (version.id == @trip.id) %>
      <%= time_ago_in_words(version.updated_at) %> ago
      <% else %>
      <%= link_to "#{time_ago_in_words(version.updated_at)} ago", :action=>:show, :id=>version.id %>
      <% end %>
      <span class="update-user">(<%= version.updated_by_user.name %>)</span>
    </li>
  <% end %>
  </ul>
</div><!-- /#history -->
<% end %>
<%= form_for @trip, :url=>{:action=>:update} do |f| %>
  <%= render :partial => "form", :locals=>{:f=>f} %>

  <br/>

  <%= submit_tag 'Update' %>
<% end %>