<div id="page-header">
  <% if current_user.is_admin %>
    <h1>Import Trips</h1>
  <% else %>
    <h1>Past Imports</h1>
  <% end %>
</div>

<% if current_user.is_admin %>
  <%= form_tag url_for(:action=>:import), :method=>:post, :multipart => true %>
    <fieldset>

      <ol class="section first">
        <li>
          <label for="file-import">Import file</label>
          <input id="file-import" name="file-import" type="file" value="" size="100" />
        </li>
        <li>
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" rows="3" cols="60"></textarea>
        </li>
      </ol>

      <div class="actions">
        <input id="trip-import" type="submit" value="Import" />
      </div>

    </fieldset>
  </form>

  <h1>Past Imports</h1>
<% end %>

<table>
  <tr>
    <th>Imported At</th>
    <th>File Name</th>
    <th>Notes</th>
    <th>Records</th>
    <th></th>
  </tr>
  <% for trip_import in @trip_imports %>
    <tr>
      <td>
        <%= trip_import.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%D %I:%M %p') %>
      </td>
      <td>
        <%= trip_import.file_name || '<File name not recorded>' %>
      </td>
      <td>
        <%= trip_import.notes %>
      </td>
      <td>
        <%= trip_import.trips.count %>
      </td>
      <td>
        <%= link_to "View", {:action => :list, "q[trip_import_id]" => trip_import.id}, :class => :details %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @trip_imports %>

