<div id="page-header">
  <h1>Update Trip Allocations</h1>
</div>

<%= form_for @query, :html=>{:id=>"trip-filter", :method=>:get}, :url=>{:action=>:update_allocation} do |f| %>
  <fieldset>
    <ol class="section ">
      <li>
        <%= f.label :start_date %>
        <%= f.text_field :start_date, :class=>"datepicker" %>
      </li>
      <li>
        <%= f.label :end_date %>
        <%= f.text_field :end_date, :class=>"datepicker" %>
      </li>
      <li>
        <%= f.label :allocation, "Source Allocation" %>
        <%= f.collection_select :allocation, @allocations, :id, :name, :include_blank => true %>
      </li>
      <li>
        <input id="get-count" type="submit" value="Get Trip Count" name="commit"/>
        <span id="trip-count"><%= pluralize(@trips_count, "Completed Trip") %> Available for Transfer</span>
      </li>
      
    <hr>
      
      <li>
        <%= f.label :dest_allocation, "Destination Allocation" %>
        <%= f.collection_select :dest_allocation, @allocations, :id, :name, :include_blank => true %>
      </li>
      
      <li>
        <%= label_tag :transfer_count, "Number of Trips to Transfer" %>
        <%= text_field_tag :transfer_count %>
      </li>
      
      <li>
        <input id="transfer-trips" type="submit" value="Transfer Trips" name="commit"/>
        <% if @query.update_allocation? %>
        <span id="updated-count"><%= pluralize(@transfer_count, "Trip") %> Updated to Allocation <%= @allocation.name %></span>
        <% end %>
      </li>
    </ol>
  </fieldset>
<% end %>