<h1>Create first user</h1>

<%= form_for @user, :url=> {:action=>:init} do |f| %>
  <%= f.error_messages %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <br/>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation,  %><br />
  <%= f.password_field :password_confirmation %><br />
  <br/>

  <br />
  <%= f.submit "Create user" %>
<% end %>
