<div id="page-header">
  <h1>Age & Ethnicity Report</h1>
  <h2><%= describe_date_range(@query.start_date, @query.end_date) %></h2>
</div>

<h2>Partner Name: <%= @provider %></h2>

<div>
  The following information about your clients / customers is for
  reporting purposes only and will not be considered in determining
  eligibility for services.
</div>

<table>
<tr>
  <th>Age:</th>
  <th>Current Month Unduplicated</th>
  <th>YTD</th>
</tr>
<tr>
  <th>Unduplicated number of persons 60 years or older</th>
  <td><%= @current_month_unduplicated_old %></td>
  <td><%= @ytd_age_old %></td>
</tr>
<tr>
  <th>Unduplicated number of persons 59 years or younger</th>
  <td><%= @current_month_unduplicated_young %></td>
  <td><%= @ytd_age_young %></td>
</tr>
<tr>
  <th>Unduplicated number of persons age unknown</th>
  <td><%= @current_month_unduplicated_unknown %></td>
  <td><%= @ytd_age_unknown %></td>
</tr>
<tr>
  <th>Total unduplicated Individuals Served</th>
  <td><%= @current_month_unduplicated_young + @current_month_unduplicated_old + @current_month_unduplicated_unknown %></td>
  <td><%= @ytd_age_young + @ytd_age_old + @ytd_age_unknown %></td>
</tr>
</table>

<table>
<tr>
  <th>Ethnicity:</th>
  <th>Current Month Unduplicated</th>
  <th>YTD</th>
</tr>
<% for name in @ethnicity.keys.sort %>
<% ethnicity = @ethnicity[name] %>
<tr>
  <th><%= name %></th>
  <td><%= ethnicity["unduplicated"] %></td>
  <td><%= ethnicity["ytd"] %></td>
</tr>
<% end %>
</table>

Total unduplicated individuals served: <%= @current_month_unduplicated_young + @current_month_unduplicated_old + @current_month_unduplicated_unknown %> ------ <%= @ytd_age_young + @ytd_age_old + @ytd_age_unknown %>

