<% content_for :head do -%>
  <%= javascript_tag do -%>
    $(document).ready(function(){
      $('.predefined-report fieldset').css('clear', 'none');
      $('.predefined-report').css('margin-left', '235px');

      var $menu = $('<ul id="reports-menu">');
      $menu.css({
        'float':      'left',
        'list-style': 'none',
        'margin':     '0',
        'padding':    '0',
        'width':      '215px'
      });
      $('#page-header').after($menu);
      
      var $reports = $('.predefined-report h2').sort(function(a, b){return $(a).text().toLowerCase() > $(b).text().toLowerCase() ? 1 : -1;});
      $reports.each(function(){
        $li = $('<li>');
        $a = $('<a>');
        $a.text($(this).text());
        $a.data('target', $(this).closest('.predefined-report'));
        $li.append($a)
        $menu.append($li);
        $a.click(function(){
          $this = $(this);
          $('.predefined-report:visible').hide();
          $('#reports-menu li').css('background-color', '#eee');
          $this.closest('li').css('background-color', '#ccc');
          $this.data('target').fadeIn('fast');
        });
      });
      
      $menu.find('li a').css({
        'color':       '#000 !important',
        'cursor':      'pointer',
        'display':     'block',
        'font-weight': 'bold'
      });

      $menu.find('li').css({
        '-moz-border-radius':    '5px',
        '-webkit-border-radius': '5px',
        'background-color':      '#eee',
        'border':                '1px solid #bbb',
        'border-radius':         '5px',
        'margin':                '4px 0',
        'padding':               '5px'
      });
      
      $('.predefined-report').hide();
      $menu.before('<h2>Available Reports:</h2>');
      $menu.find('li:first').css('background-color', '#ccc').find('a').click();
    });
  <% end -%>
<% end -%>

<div id="page-header">
  <h1>Predefined Reports</h1>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :spd } do |f| %>
    <fieldset>
      <h2 class="report-header">SPD Report</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <%= f.text_field :start_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :spd_start_date, :required => :required %>
        </li>
        <li>
          <label>End date:</label>
          <%= f.text_field :end_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :spd_end_date, :required => :required %>
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
      <input type="submit" name="output" value="CSV">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :trip_purpose } do |f| %>
    <fieldset>
      <h2 class="report-header">Trip Purpose Report</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :purpose_start_date, :required => :required %>
        </li>
        <li>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :purpose_end_date, :required => :required %>
        </li>
        <li>
          <%= f.label :reporting_agency_id, 'Reporting Agency' %>
          <%= f.select :reporting_agency_id, options_for_select([['<All Reporting Agencies>','']] + Provider.reporting_agencies.default_order.all.map { |p| [p.name, p.id] }) %>
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @fiscal_year_to_date_query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :quarterly_narrative } do |f| %>
    <fieldset>
      <h2 class="report-header">Quarterly Narrative Report</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date %>
          <%= f.date_select :start_date, :start_year => 2012, :end_year => Time.now.year, :order=>[:month,:year] %>
        </li>
        <li>
          <%= f.label :end_date %>
          <%= f.date_select :end_date, :start_year => 2012, :end_year => Time.now.year, :order=>[:month,:year] %>
        </li>
        <li>
          <%= f.label :provider_id, 'Reporting Agency' %>
          <%= f.select :provider_id, options_for_select([['<All Reporting Agencies>','']] + Provider.reporting_agencies.default_order.all.map { |p| [p.name, p.id] }) %>
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @semimonth_query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :bpa_invoice } do |f| %>
    <fieldset>
      <h2 class="report-header">BPA Invoice</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :bpa_invoice_start_date, :required => :required %>
        </li>
        <li>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :bpa_invoice_end_date, :required => :required %>
        </li>
        <li>
          <%= f.label :provider_id, 'Provider' %>
          <%= f.select :provider_id, options_for_select(Provider.bpa_providers.default_order.all.map { |p| [p.name, p.id] }) %>
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :age_and_ethnicity } do |f| %>
    <fieldset>
      <h2 class="report-header">Age & Ethnicity Report</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :narrative_start_date, :required => :required %>
        </li>
        <li>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :narrative_end_date, :required => :required %>
        </li>
        <li>
          <%= f.label :provider %>
          <%= f.select :provider_id, options_for_select([['<All Providers>','']] + Provider.default_order.with_trip_data.map { |p| [p.name, p.id] }) %>
        </li>
        <li>
          <%= f.label :reporting_agency %>
          <%= f.select :reporting_agency_id, options_for_select([['<All Reporting Agencies>','']] + Provider.default_order.with_trip_data_as_reporting_agency.map { |p| [p.name, p.id] }) %>
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :premium_service_billing } do |f| %>
    <fieldset>
      <h2 class="report-header">Premium Service Billing Report</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :ads_start_date, :required => :required %>
        </li>
        <li>
          <%= f.label :end_date %>
          <%= f.text_field :end_date, :class => "datepicker", :placeholder => "yyyy-mm-dd", :id => :ads_end_date, :required => :required %>
        </li>
        <li>
          <%= f.label :county %>
          <%= f.select :county, %w(Multnomah Washington) %>
        </li>
        <li>
          <%= f.label :provider %>
          <%= f.select :provider_id, [['<All Providers>',nil]] + Provider.for_multnomah_ads.default_order.map {|p| [p.name, p.id] } %>
        </li>
      </ol>
      <input type="submit" name="output" value="Report">
      <input type="submit" name="output" value="CSV">
    </fieldset>
  <% end %>
</div>

<div class="predefined-report" data-name="monthly">
  <%= form_for @query, :html => { :class => "run-report", :method => 'get' }, :url => { :action => :trimet_export } do |f| %>
    <fieldset>
      <h2 class="report-header">TriMet E&D Export</h2>
      <p></p>
      <ol>
        <li>
          <%= f.label :start_date, "Month" %>
          <%= f.date_select :start_date, :start_year => 2012, :end_year => Time.now.year, :order => [:month, :year] %>
        </li>
      </ol>
      <input type="submit" name="output" value="CSV">
      <input type="submit" name="output" value="Audit">
    </fieldset>
  <% end %>
</div>
