<% for office in @customer_rows.keys.sort %>
  <div id="page-header">
    <h1><%= @query.county %> County Waivered Nonmedical Report</h1>
  </div>

  <h2><%= describe_date_range(@query.start_date, @query.end_date) %></h2>
  <h3><%= office %> Office</h3>

  <table id="active-rider-results" class="results break-after">
    <thead>
      <tr>
        <th>Case Manager</th>
        <th>Date Enrolled</th>
        <th>Customer</th>
        <th>Prime Number</th>
        <th>Service End</th>
        <th class="number">Approved Rides</th>
        <th class="number">Billed Rides</th>
        <th class="number">Billable Mileage</th>
      </tr>
    </thead>
    <tbody>
      <% @customer_rows[office].values.sort_by {|a| a[:customer].name }.each do |customer_row| %>
        <% customer = customer_row[:customer] %>
        <tr>
          <td><%= customer_row[:case_manager] %></td>
          <td><%= customer_row[:date_enrolled].try(:strftime,'%m-%d-%Y') %></td>
          <td><%= link_to customer.name, customer %></td>
          <td><%= customer.prime_number %></td>
          <td><%= customer_row[:service_end].try(:strftime,'%m-%d-%Y') %></td>
          <td class="number"><%= customer_row[:approved_rides] %></td>
          <td class="number"><%= customer_row[:billed_rides] %></td>
          <td class="number"><%= "%.2f" % customer_row[:billable_mileage] %></td>
        </tr>
      <% end %>
      <tr class="sum-totals">
        <td class="" colspan="5">Customer Count: <%= @offices[office][:customer_count] %></td>
        <td class="number"><%= @offices[office][:approved_rides] %></td>
        <td class="number"><%= @offices[office][:billed_rides] %></td>
        <td class="number"><%= "%.2f" % @offices[office][:billable_mileage] %></td>
      </tr>
  </table>
<% end %>

<table id="active-rider-results" class="totals">
  <thead>
    <tr>
      <th>Mobility</th>
      <th class="number">Approved Rides</th>
      <th class="number">Billed Rides</th>
      <th class="number">Billable Mileage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Not Scooter or Wheelchair</td>
      <td class="number"></td>
      <td class="number"><%= @nonwc_billed_rides %></td>
      <td class="number"><%= "%.2f" % @nonwc_mileage %></td>
    </tr>
    <tr>
      <td>Scooter or Wheelchair</td>
      <td class="number"></td>
      <td class="number"><%= @wc_billed_rides %></td>
      <td class="number"><%= "%.2f" % @wc_mileage %></td>
    </tr>
    <tr>
      <td>Unknown Mobility</td>
      <td class="number"></td>
      <td class="number"><%= @unknown_billed_rides %></td>
      <td class="number"><%= "%.2f" % @unknown_mileage %></td>
    </tr>
    <tr>
      <td>All Trips</td>
      <td class="number"><%= @approved_rides %></td>
      <td class="number"><%= @all_billed_rides %></td>
      <td class="number"><%= "%.2f" % @all_mileage %></td>
    </tr>
    <tr>
      <td colspan="4">Total Customer Count: <%= @customer_count %></td>
    </tr>
  </tbody>
</table>
