<div id="page-header">
  <h1>
    Multnomah County ADS Report
    <% if @query.provider_id.present? %>
      &mdash; <%= Provider.find(@query.provider_id).name %>
    <% else %>
      &mdash; All Providers
    <% end %>
  </h1>
</div>

<h2><%= describe_date_range(@query.start_date, @query.end_date) %></h2>

<table id="active-rider-results" class="results">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Service Date</th>
      <th>Start Time</th>
      <th>Pickup Address</th>
      <th>Drop Off Address</th>
      <th>District Center</th>
      <th>Partner Cost</th>
      <th>Taxi Cost</th>
      <th>Scheduling Fee</th>
      <th>Total Cost</th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
    <% @run_groups.keys.sort{|a,b| a.start_at <=> b.start_at}.each do |run| %>
      <tr>
        <td>Hourly Trip</td>
        <td><%= run.date.to_s(:mdy) %></td>
        <td class="nobreak"><%= run.start_at.to_s(:time_only) %></td>
        <td class="nobreak"><%= pluralize(run.ads_billable_hours, "billable hour") %></td>
        <td></td>
        <td></td>
        <td class="number"><%= number_to_currency(run.ads_partner_cost) %></td>
        <td></td>
        <td class="number"><%= number_to_currency(run.ads_scheduling_fee) %></td>
        <td class="number"><%= number_to_currency(run.ads_total_cost) %></td>
        <td><%= run.trips.first.allocation.provider.name %></td>
      </tr>
      <% @run_groups[run].each do |t| %>
        <tr>
          <td><%= t.customer.name %></td>
          <td class="nobreak"><%= t.date.to_s(:mdy) %></td>
          <td class="nobreak"><%= t.start_at.to_s(:time_only) %></td>
          <td><%= t.pickup_address.full_address %></td>
          <td><%= t.dropoff_address.full_address %></td>
          <td><%= t.case_manager_office %></td>
          <td class="number"><%= number_to_currency(t.ads_partner_cost) %></td>
          <td class="number"><%= number_to_currency(t.ads_taxi_cost) %></td>
          <td class="number"><%= number_to_currency(t.ads_scheduling_fee) %></td>
          <td class="number"><%= number_to_currency(t.ads_total_cost) %></td>
          <td><%= t.allocation.provider.name %></td>
        </tr>
      <% end %>
    <% end %>
    <% @trips_billed_per_trip.sort{|a,b| a.customer.name <=> b.customer.name}.each do |t| %>
      <tr>
        <td><%= t.customer.name %></td>
        <td class="nobreak"><%= t.date.to_s(:mdy) %></td>
        <td class="nobreak"><%= t.start_at.to_s(:time_only) %></td>
        <td><%= t.pickup_address.full_address %> </td>
        <td><%= t.dropoff_address.full_address %> </td>
        <td><%= t.case_manager_office %></td>
        <td class="number"><%= number_to_currency(t.ads_partner_cost) %></td>
        <td class="number"><%= number_to_currency(t.ads_taxi_cost) %></td>
        <td class="number"><%= number_to_currency(t.ads_scheduling_fee) %></td>
        <td class="number"><%= number_to_currency(t.ads_total_cost) %></td>
        <td><%= t.allocation.provider.name %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="6"></th>
      <th class="number"><%= number_to_currency(@total_partner_cost) %></th>
      <th class="number"><%= number_to_currency(@total_taxi_cost) %></th>
      <th class="number"><%= number_to_currency(@total_scheduling_fee) %></th>
      <th class="number"><%= number_to_currency(@total_cost) %></th>
      <th></th>
    </tr>
    <tr>
      <th class="text">Total Billable Hours</th>
      <th class="number"><%= @total_billable_hours %></th>
    </tr>
    <tr>
      <th class="text">&nbsp;&nbsp;&nbsp;Hourly Trips</th>
      <th class="number"><%= @per_hour_trip_count %></th>
    </tr>
    <tr>
      <th class="text">&nbsp;&nbsp;&nbsp;Taxi Trips</th>
      <th class="number"><%= @taxi_trip_count %></th>
    </tr>
    <tr>
      <th class="text">&nbsp;&nbsp;&nbsp;Partner Trips</th>
      <th class="number"><%= @partner_trip_count %></th>
    </tr>
    <tr>
      <th class="text">Total Trip Count</th>
      <th class="number"><%= @per_hour_trip_count + @taxi_trip_count + @partner_trip_count %></th>
    </tr>
  </tbody>
</table>

