<div id="page-header">
  <h1>Quarterly Narrative Report</h1>
</div>

<% @report.results.sort_by {|k,v| row_sort(k)}.each do |provider, provider_rows| %>
  <% provider_rows.sort_by {|k,v| row_sort(k)}.each do |program, program_rows| %>
    <% allocation = get_row(program_rows).allocation %>
    <h2>
      <%= allocation.provider_name %> &mdash; <%= describe_date_range(@report.start_date, @report.end_date + 1.month - 1.day) %>
    </h2>
    <h3>Program: <%= allocation.program %></h3>
    <h3>County: <%= allocation.county %></h3>
    <h3>Funding Source: <%= allocation.funding_source %></h3>

    <%= render "flex_reports/report", :results => program_rows, :group_fields => @report.group_fields[2..-1] %>

    <hr style="page-break-after: always;"/>
  <% end %>
<% end %>
