<div id="page-header">
  <h1>Active Rider Report</h1>
</div>

<h2><%= describe_date_range(@query.start_date, @query.end_date) %></h2>

<table id="active-rider-results" class="results">
  <thead>
    <tr>
      <th>Case Manager</th>
      <th>Date Enrolled</th>
      <th>Customer</th>
      <th>Prime Number</th>
      <th>Service End</th>
      <th>Approved Rides</th>
      <th>Billed Rides</th>
      <th>Billable Mileage</th>
      <th>Scooter or WC</th>
    </tr>
  </thead>
  <tbody>
    <% for office in @customer_rows.keys.sort %>
      <tr>
        <td class="report-item" colspan="9"><%= office %></td>
      </tr>
      <% for customer_row in @customer_rows[office].values.sort {|a,b| a[:customer].name <=> b[:customer].name } %>
        <% customer = customer_row[:customer] %>
        <tr>
          <td><%= customer_row[:case_manager] %></td>
          <td><%= customer_row[:date_enrolled].strftime('%m-%d-%Y') %></td>
          <td><%= customer.first_name %> <%= customer.middle_initial %> <%= customer.last_name %> </td>
          <td><%= customer.prime_number %></td>
          <td><%= customer_row[:service_end].strftime('%m-%d-%Y') %></td>
          <td class="number"><%= customer_row[:approved_rides] %></td>
          <td class="number"><%= customer_row[:billed_rides] %></td>
          <td class="number"><%= "%.2f" % customer_row[:billable_mileage] %></td>
          <td><%= customer_row[:mobility] ? 'Yes' : 'No' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
