<%= f.hidden_field :id %>

<%= f.label :provider %> <%= f.collection_select :provider_id, @providers, :id, :name %> <br/>
<%= f.label :period_start %> <%= f.date_select :period_start %> <br/>
<%= f.label :period_end %> <%= f.date_select :period_end %> <br/>

<%= f.label :total_miles %> <%= f.text_field :total_miles %> <br/>
<%= f.label :driver_hours_paid %> <%= f.text_field :driver_hours_paid %> <br/>
<%= f.label :driver_hours_volunteer %> <%= f.text_field :driver_hours_volunteer %> <br/>
<%= f.label :escort_hours_volunteer %> <%= f.text_field :escort_hours_volunteer %> <br/>
<%= f.label :administrative_hours_volunteer %> <%= f.text_field :administrative_hours_volunteer %> <br/>
<%= f.label :unduplicated_riders %> <%= f.text_field :unduplicated_riders %> <br/>
<%= f.label :compliments %> <%= f.text_field :compliments %> <br/>
<%= f.label :complaints %> <%= f.text_field :complaints %> <br/>
<%= f.label :prepared_by %> <%= f.text_field :prepared_by %> <br/>
<%= f.label :report_prepared %> <%= f.date_select :report_prepared %> <br/>
<%= f.label :allocation %> <%= f.collection_select :allocation_id, @allocations, :id, :name %><br/>

<h2>Rows</h2>

<%= f.fields_for :summary_rows do |row_form| %>
<br/><hr/><br/>
    <% if row_form.object.new_record? %>
      Add a new row:<br/>
    <% end %>
    <%= row_form.label :purpose %>
    <%= row_form.text_field :purpose %><br/>

    <%= row_form.label :trips %>
    <%= row_form.text_field :trips %><br/>

    <%= row_form.label :in_district %>
    <%= row_form.check_box :in_district %><br/>

    <% unless row_form.object.new_record? %>
      <%= row_form.check_box '_destroy' %>
      <%= row_form.label '_destroy', 'Remove' %><br/>
    <% end %>
<% end %>

