  <% if @summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summary.errors.count, "error") %> prohibited this summary from being saved:</h2>

      <ul>
      <% @summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>

  <fieldset>

    <ol class="section summary-form-part-one">
      <li><%= f.label :allocation, "Allocation:" %> <%= f.collection_select :allocation_id, @allocations, :id, :name %></li>
      <li><label>Summary Month:</label> <%= f.date_select( :period_start, :end_year => Time.now.year, :order => [:month, :year], :default => Date.today.prev_month ) %></li>
    </ol>

    <ol class="section summary-form-part-two">
      <% if !f.object.new_record? %>
      <%= f.label :adjustment_notes, "Adjustment Notes:" %><br/>
      <%= f.text_area :adjustment_notes, {:rows=>7, :columns=>60} %>
      <% end %>
    </ol>

    <ol class="section summary-form-part-three">
      <li><%= f.label :total_miles, "Total Miles:" %> <%= f.text_field :total_miles %></li>
      <li><%= f.label :unduplicated_riders, "Unduplicated Riders:" %> <%= f.text_field :unduplicated_riders %></li>
      <li><%= f.label :driver_hours_paid, "Driver Hours Paid" %> <%= f.text_field :driver_hours_paid %></li>
      <li><%= f.label :driver_hours_volunteer, "Driver Volunteer Hours" %> <%= f.text_field :driver_hours_volunteer %></li>
      <li><%= f.label :escort_hours_volunteer, "Escort Volunteer Hours" %> <%= f.text_field :escort_hours_volunteer %></li>
      <li><%= f.label :administrative_hours_volunteer, "Admin Volunteer Hours:" %> <%= f.text_field :administrative_hours_volunteer %></li>
      <li><%= f.label :administrative, "Administrative:" %> <%= f.text_field :administrative %></li>
      <li><%= f.label :operations, "Operations:" %> <%= f.text_field :operations %></li>
      <li><%= f.label :vehicle_maint, "Vehicle Maintenance:" %> <%= f.text_field :vehicle_maint %></li>
      <li><%= f.label :administrative, "Funds:" %> <%= f.text_field :funds %></li>
      <li><%= f.label :operations, "Donations:" %> <%= f.text_field :donations %></li>
      <li><%= f.label :vehicle_maint, "Agency Other:" %> <%= f.text_field :agency_other %></li>
      <li><%= f.label :complete, "Complete:" %><%= f.check_box :complete %></li>
    </ol>

    <ol class="section summary-form-part-four">
      <li>
        <table id="summary-row-info">
          <thead>
            <tr>
              <th>Purpose</th>
              <th>In-District</th>
              <th>Out of District</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :summary_rows do |row_form| %>
            <%= row_form.hidden_field :purpose %>
            <tr>
              <td><%= row_form.label row_form.object.purpose %></td>
              <td><%= row_form.text_field :in_district_trips %></td>
              <td><%= row_form.text_field :out_of_district_trips %></td>
            </tr>
            <% end %>

	    <% if !f.object.new_record? %>
	    <tr>
	      <td>Total</td>
	      <td><%= @summary.summary_rows.map(&:in_district_trips).inject(:+) %></td>
	      <td><%= @summary.summary_rows.map(&:out_of_district_trips).inject(:+) %></td>
	    </tr>
	    <tr>
	      <td>Grand Total</td>
	      <td colspan="2"><%= @summary.summary_rows.map {|x| x.in_district_trips + x.out_of_district_trips} .inject(:+) %></td>
	    </tr>
	    <% end %>

          </tbody>
        </table>
      </li>
    </ol>

  </fieldset>
