<%= f.hidden_field :id %>
       <ul class="form">
         <li class="allocations">
<%= f.label :allocation %> <%= f.collection_select :allocation_id, @allocations, :id, :name %> </li>

<li><label for="summary_period_start">Summary Month</label>
<span id="summary-period-start-wrap"> <%= f.date_select :period_start, :discard_day=>true %>
</span> 

</li>

<li>
  <table id="summary-row-info">
    <thead>
      <tr>
        <th>Purpose</th>
        <th>In-District</th>
        <th>Out of District</th>
      </tr>
    </thead>
    <tbody>
<%= f.fields_for :summary_rows do |row_form| %>
<%= row_form.hidden_field :purpose %>
      <tr>
        <td><%= row_form.label row_form.object.purpose %></td>
        <td><%= row_form.text_field :in_district_trips %></td>
        <td><%= row_form.text_field :out_of_district_trips %></td>
      </tr>
<% end %>


    </tbody>
  </table>
</li>
<li><%= f.label :total_miles %> <%= f.text_field :total_miles %></li>
<li><%= f.label :unduplicated_riders %> <%= f.text_field :unduplicated_riders %></li>
<li><%= f.label :driver_hours_paid %> <%= f.text_field :driver_hours_paid %></li>
<li><%= f.label :driver_hours_volunteer %> <%= f.text_field :driver_hours_volunteer %></li>
<li><%= f.label :escort_hours_volunteer %> <%= f.text_field :escort_hours_volunteer %></li>
<li><%= f.label :administrative_hours_volunteer %> <%= f.text_field :administrative_hours_volunteer %></li>
<li><%= f.label :administrative, "Administrative Hours" %> <%= f.text_field :administrative %></li>
<li><%= f.label :operations, "Operations Hours" %> <%= f.text_field :operations %></li>
<li><%= f.label :vehicle_maint, "Vehicle Maintenance Hours" %> <%= f.text_field :vehicle_maint %></li>

<li><%= f.label :complete %><%= f.check_box :complete %></li>

</ul>
