         <h2 id="result-count"><%= @summaries.total_entries %> summaries found.</h2>
      <% if @summaries.total_entries > 0 %>
         <%= link_to 'Mark All Complete', { :action => :bulk_update, :summary_query => params[:summary_query] }, :class=>'mark-complete' %>
 <div class="report-wrapper">
         <table id="summary-results">
           <thead>
             <tr>
               <th>Allocation</th>
               <th>Start</th>
               <th>Complete</th>
               <th>Last updated</th>
               <th>&nbsp;</th>
             </tr>
           </thead>
           <tbody>
             <% @summaries.each do |summary| %>
             <tr>
               <td><%= summary.allocation.name %></td>
               <td><%= summary.period_start.month %> / <%= summary.period_start.year %></td>
               <td><span class="status-<%= (summary.complete) ? "" : "in" %>complete"><%= summary.complete? ? "Yes" : "No" %></span></td>
               <td><%= summary.valid_start.to_s(:pretty) %></td>
               <td><%= link_to 'Details', :action=>:show_update, :id=>summary.id %></td>
             </tr>
             <% end %>
           </tbody>
         </table>
</div>
       <% end %>
<%= will_paginate @summaries %>
