<h2 id="result-count"><%= pluralize @summaries.total_entries, "summary" %> found.</h2>
<% if @summaries.total_entries > 0 %>
  <%= link_to 'Mark Data Entry Complete For All', { :action => :bulk_update, :q => params[:q] }, :class=>'mark-complete'  if current_user.is_admin %>
  <div class="list-wrapper">
    <table id="summary-results">
      <thead>
        <tr>
         <th>Allocation</th>
         <th>Month</th>
         <th>Complete</th>
         <th class="number">Total Cost</th>
         <th class="number">In</th>
         <th class="number">Out</th>
         <th class="number">Total Trips</th>
         <th class="number">Miles</th>
         <th class="number">Pd Hours</th>
         <th class="number">Vol Hours</th>
         <th class="number">Total Driver Hours</th>
         <th class="number">Undup</th>
         <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @summaries.each do |summary| %>
          <tr>
            <td><%= summary.allocation.name %></td>
            <td><%= summary.period_start.strftime("%b %Y") %></td>
            <td><span class="status-<%= (summary.complete) ? "" : "in" %>complete"><%= summary.complete? ? "Yes" : "No" %></span></td>
            <td class="number"><%= number_to_currency(summary.total_cost) %></td>
            <td class="number"><%= summary.in_district_trips %></td>
            <td class="number"><%= summary.out_of_district_trips %></td>
            <td class="number"><%= summary.trips %></td>
            <td class="number"><%= summary.total_miles %></td>
            <td class="number"><%= summary.driver_hours_paid %></td>
            <td class="number"><%= summary.driver_hours_volunteer %></td>
            <td class="number"><%= summary.total_driver_hours %></td>
            <td class="number"><%= summary.unduplicated_riders %></td>
            <td><%= link_to 'Details', :action=>:edit, :id=>summary.id %></td>
          </tr>
        <% end %>
        <% if @grand_totals[:total_cost] != @page_totals[:total_cost] -%>
          <tr class="totals">
            <th>Page Total:</th>
            <td> </td> 
            <td> </td> 
            <td class="number"><%= number_to_currency(@page_totals[:total_cost]) %></td>
            <td class="number"><%= @page_totals[:in_district_trips] %></td>
            <td class="number"><%= @page_totals[:out_of_district_trips] %></td>
            <td class="number"><%= @page_totals[:trips] %></td>
            <td class="number"><%= @page_totals[:total_miles] %></td>
            <td class="number"><%= @page_totals[:driver_hours_paid] %></td>
            <td class="number"><%= @page_totals[:driver_hours_volunteer] %></td>
            <td class="number"><%= @page_totals[:total_driver_hours] %></td>
            <td> </td> 
            <td> </td> 
          </tr>
        <% end -%>
        <tr class="sum-totals">
          <th>Grand Total:</th>
          <td> </td> 
          <td> </td> 
          <td class="number"><%= number_to_currency(@grand_totals[:total_cost]) %></td>
          <td class="number"><%= @grand_totals[:in_district_trips] %></td>
          <td class="number"><%= @grand_totals[:out_of_district_trips] %></td>
          <td class="number"><%= @grand_totals[:trips] %></td>
          <td class="number"><%= @grand_totals[:total_miles] %></td>
          <td class="number"><%= @grand_totals[:driver_hours_paid] %></td>
          <td class="number"><%= @grand_totals[:driver_hours_volunteer] %></td>
          <td class="number"><%= @grand_totals[:total_driver_hours] %></td>
          <td> </td> 
          <td> </td> 
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate @summaries %>
