         <h2 id="result-count"><%= @summaries.total_entries %> summaries found.</h2>
      <% if @summaries.total_entries > 0 %>
         <%= link_to 'Mark all as complete', :action=>:bulk_update, "query[period_start]" => params[:query][:period_start], "query[period_end]" => params[:query][:period_end], "query[allocation]" => params[:query][:allocation] %>
         <table id="summary-results">
           <thead>
             <tr>
               <th rowspan="2">Provider</th>
               <th rowspan="2">Start</th>
               <th rowspan="2">End</th>
               <% POSSIBLE_TRIP_PURPOSES.each do |purpose| %>
                 <th colspan="2"><%= purpose %></th>
               <% end %>
               <th rowspan="2">Complete</th>
               <th rowspan="2"></th>
             </tr>
             <tr>
               <% POSSIBLE_TRIP_PURPOSES.each do |purpose| %>
                 <th>In</th>
                 <th>Out</th>
               <% end %>
             </tr>
           </thead>
           <tbody>
             <% @summaries.each do |summary| %>
             <tr>
               <td><%= summary.provider.name %></td>
               <td><%= summary.period_start %></td>
               <td><%= summary.period_end %></td>
               <% summary.summary_rows.each do |row_form| %>
               <td><%= row_form.in_district_trips %></td>
               <td><%= row_form.out_of_district_trips %></td>
               <% end %>
               <td><span class="status-<%= (summary.complete) ? "" : "in" %>complete"><%= summary.complete %></span></td>
               <td><%= link_to 'Details', :action=>:show_update, :id=>summary.id %></td>
             </tr>
             <% end %>
           </tbody>
         </table>
       <% end %>
<%= will_paginate @summaries %>