<div id="page-header">
  <h1>Summary Update</h1>
</div>


<div class="wrap selfclear">
  <div id="history">

    <h2>Versions</h2>

    <ul>
      <% for version in @versions %>
        <li>
          <% if version == @summary %>
            <%= time_ago_in_words version.valid_start %> ago
            <% else %>
            <%= link_to time_ago_in_words(version.valid_start), :action=>:edit, :id=>version.id %> ago
          <% end %>
          by <span class="update-user"><%= version.updater.email %></span> 
          <%= link_to "", delete_summary_version_path(version), :class => "delete", :method => :post, :confirm => "Are you sure you want to delete this version?" unless version.latest? %>
          <%= link_to "", delete_summary_path(version), :class => "delete", :method => :delete, :confirm => "Are you sure you want to delete this summary?" if @versions.size == 1 %>
        </li>
      <% end %>
    </ul>

    <% if ! @summary.latest? %>
    <br />
    <div class="notice">You are viewing an old version created on <%= @summary.valid_start.to_s(:pretty) %></div>
    <% end %>

  </div><!-- /#history -->

  <%= form_for @summary, :url=>{:action=>:update} do |f| %>
    <%= render :partial => "form", :locals=>{:f=>f} %>

    <% if @summary.latest? -%>
      <div class="actions">
        <%= submit_tag 'Update' %>
      </div>
    <% end -%>
  <% end %>

</div><!-- /.wrap -->
