<% for summary in @summaries %>

Summary for <%= summary.provider.name %><br/>
Start: <%= summary.period_start %><br/>
End: <%= summary.period_end %>
<table>
<tr>
<th>
Purpose
</th>
<th>
Trips
</th>
<th>
In-district
</th>
</tr>
<% for row in summary.summary_rows %>
<tr>
<td>
    <%= row.purpose %>
<td>
<%= row.trips %> 
</td>
<td>
<% if row.in_district %>
yes
<% else %>
no
<% end %>
</td>
</tr>

<% end %>

</table>

<% end %>
