<div id="page-header">
  <h1>View Summaries</h1>
</div>

<%= form_for @query, :html=>{:id=>"summary-filter", :method=>:get}, :url=>{:action=>:index} do |f| %>
  <fieldset>
    <h2>Summary Period</h2>
    <ol class="section fourth">
      <li><%= f.label :period_start, "Beginning:" %> <%= f.text_field :period_start, :class=>"datepicker" %></li>
      <li><%= f.label :period_end, "Ending (Before):" %> <%= f.text_field :period_end, :class=>"datepicker" %></li>
      <li>
        <h2>Allocations</h2>
        <%= f.collection_select :allocation, @allocations, :id, :name, :include_blank => true %>
      </li>
    </ol>

    <div class="actions">
      <input id="summary-search" type="submit" value="Search" />
    </div>

  </fieldset>
<% end %> 

<%= render "summaries" %>
