<% for summary in @summaries %>

Summary for <%= summary.provider.name %> (<%= link_to 'Edit', :action=>:show_update, :id=>summary.id %>)<br/>
Start: <%= summary.period_start %><br/>
End: <%= summary.period_end %>
<table>
<tr>
<th>
Purpose
</th>
<th>
In-district Trips
</th>
<th>
Out-of-district Trips
</th>
</tr>
<% for row in summary.summary_rows %>
<tr>
<td>
    <%= row.purpose %>
<td>
<%= row.in_district_trips %>
</td>
<td>
<%= row.out_of_district_trips %>
</td>

</tr>

<% end %>

</table>

<% end %>
