<%= form_for(@allocation) do |form| %>
  <% if @allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allocation.errors.count, "error") %> prohibited this allocation from being saved:</h2>

      <ul>
      <% @allocation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <ol class="section ">
      <li class="selfclear">
        <%= form.label :name %>
        <%= form.text_field :name, :size => 60 %>
      </li>
      
      <li class="selfclear">
        <%= form.label :group_trip %>
        <%= form.check_box :group_trip %>
      </li>
      
      <li class="selfclear">
        <%= form.label :program %>
        <%= form.text_field :program, :size => 60 %>
      </li>
      
      <li class="selfclear">
        <%= form.label :project_id %>
        <%= form.collection_select :project_id, Project.all, :id, :name, :include_blank => true %>
        <%= link_to "Details", [:edit, @allocation.project], :class => :details if @allocation.project %>
      </li>
      
      <li class="selfclear">
        <%= form.label :provider_id %>
        <%= form.collection_select :provider_id, Provider.default_order, :id, :to_s, :include_blank => true %>
        <%= link_to "Details", [:edit, @allocation.provider], :class => :details if @allocation.provider %>
      </li>
      
      <li class="selfclear">
        <%= form.label :county %>
        <%= form.text_field :county %>
      </li>
      
      <li class="selfclear">
        <%= form.label :trip_collection_method %>
        <%= form.select :trip_collection_method, 
          options_for_select(@trip_collection_methods.map {|tcm| [tcm, tcm]}, @allocation.trip_collection_method) %>
      </li>
      
      <li class="selfclear">
        <%= form.label :run_collection_method %>
        <%= form.select :run_collection_method, 
          options_for_select(@run_collection_methods.map {|rcm| [rcm, rcm]}, @allocation.run_collection_method) %>      
      </li>
      
      <li class="selfclear">
        <%= form.label :cost_collection_method %>
        <%= form.select :cost_collection_method, 
          options_for_select(@cost_collection_methods.map {|ccm| [ccm, ccm]}, @allocation.cost_collection_method) %>      
      </li>
      
      <li class="selfclear">
        <%= form.label :routematch_override %>
        <%= form.text_field :routematch_override, :size => 60 %>
      </li>
      
      <li class="selfclear">
        <%= form.label :routematch_provider_code %>
        <%= form.text_field :routematch_provider_code, :size => 5 %>      
      </li>
      
      <li class="selfclear">
        <%= form.label :contract %>
        <%= form.text_field :contract, :size => 60 %>
      </li>

      <li class="selfclear">
        <%= form.label :admin_ops_data, "Admin/ops data" %>
        <%= form.select :admin_ops_data, Allocation::DATA_OPTIONS, {:prompt => "<Select Option>"} %>
      </li>

      <li class="selfclear">
        <%= form.label :vehicle_maint_data, "Vehicle maintenance data" %>
        <%= form.select :vehicle_maint_data, Allocation::DATA_OPTIONS, {:prompt => "<Select Option>"} %>
      </li>

      <li class="selfclear">
        <%= form.label :trimet_provider_id, "TriMet Provider" %>
        <%= form.collection_select :trimet_provider_id, @trimet_providers, :id, :name, {:include_blank => true} %>
      </li>

      <li class="selfclear">
        <%= form.label :trimet_program_id, "TriMet Program" %>
        <%= form.collection_select :trimet_program_id, @trimet_programs, :id, :name, {:include_blank => true} %>
      </li>

      <li class="selfclear">
        <%= form.label :trimet_report_group_id, "TriMet E&D Report Group" %>
        <%= form.collection_select :trimet_report_group_id, @trimet_report_group, :id, :name, {:include_blank => true} %>
      </li>

      <li class="selfclear">
        <%= form.label :inactivated_on %>
        <%= form.text_field :inactivated_on, :class => "datepicker" %>
      </li>
    </ol>
    
    <div class="actions">
      <%= form.submit %>
    </div>

  </fieldset>


<% end %>
