<ul id="subnav" class="selfclear">
  <li><%= link_to 'TriMet Report Groups', trimet_report_groups_allocations_path(:format => :csv), :class => :csv %></li>
  <li><%= link_to 'Allocations Export', allocations_path(:format => :csv), :class => :csv %></li>
  <li><%= link_to 'New Allocation', new_allocation_path, :class => :add if current_user.is_admin %></li>
</ul>
<div id="page-header">
  <h1>Listing Allocations</h1>
</div>

<%= will_paginate @allocations %>
<table>
  <% @grouped_allocations.each do |provider_name, group| %>

    <tr>
      <th><%= provider_name %> Allocations</th>
      <th>Activated On</th>
      <th>Inactivated On</th>
      <th>Program</th>
      <th>F.E. Project</th>
      <th>County</th>
      <th></th>
    </tr>

    <% group.each do |allocation| %>
      <tr>
        <td><%= link_to allocation.name, edit_allocation_path(allocation) %></td>
        <td><%= allocation.activated_on %></td>
        <td><%= allocation.inactivated_on %></td>
        <td><%= allocation.program.try(:name) %></td>
        <td><%= allocation.project_name %></td>
        <td><%= allocation.county %></td>
        <td><%= link_to "Delete", allocation_url(allocation), :class => "delete", :method => "delete", :confirm => "Are you sure you want to delete this allocation?" if current_user.is_admin && !(allocation.trips.exists? || allocation.summaries.exists?) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @allocations %>

