<ul id="subnav" class="selfclear">
  <li><%= link_to 'New Program', new_trimet_program_path, :class => :add if current_user.is_admin %></li>
</ul>
<div id="page-header">
  <h1>Listing TriMet Programs</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>TriMet Identifier</th>
    <th>Notes</th>
    <th></th>
  </tr>

  <% @trimet_programs.each do |trimet_program| %>
    <tr>
      <td><%= link_to trimet_program.name, edit_trimet_program_path(trimet_program) %></td>
      <td><%= trimet_program.trimet_identifier %></td>
      <td><%= trimet_program.notes %></td>
      <td><%= link_to "Delete", trimet_program_url(trimet_program), :class => "delete", :method => "delete", :confirm => "Are you sure you want to delete this program?" if current_user.is_admin && trimet_program.allocations.empty? %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @trimet_programs %>
