<div id="page-header">
  <h1>Sign In</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <ol class="section first">
      <li><%= f.label :email, "Email:" %><%= f.text_field :email %></li>
      <li><%= f.label :password, "Password:" %><%= f.password_field :password, autocomplete: :off %></li>
      <% if devise_mapping.rememberable? %>
        <li><%= f.label :remember_me, "Remember Me:" %><%= f.check_box :remember_me %></li>
      <% end %>
    </ol>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>

  </fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
