<div id="page-header">
  <h1>Change Password</h1>
</div>

<script src="/javascripts/digitalspaghetti.password.js" type="text/javascript"></script> 

<%= form_for @user, :url=>{:action=>:change_password} do |f| %>

<%= f.label :password %>
<%= f.password_field :password %><br/>

<script type="text/javascript">
	jQuery('#user_password').pstrength();
</script>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %><br/>

<%= f.submit "Update" %>

<% end %>
