<div id="page-header">
  <h1>Change Password for <%= current_user.email %></h1>
</div>
<%= form_tag change_password_path, method: "put" do |f| %>
  <fieldset>
    <ol class="section fourth">
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </li>
      <li>
        <%= label_tag :password_confirmation %>
        <%= password_field_tag :password_confirmation %>
      </li>
    </ol>
    <div class="actions">
      <%= submit_tag "Update" %>
    </div>
  </fieldset>
<% end %>
