<div id="page-header">
  <h1>Create Initial User</h1>
</div>

<%= form_for @user, :url=>:init do |f| %>

<ol class="section fourth">
  <li><label>Email:</label><%= f.text_field :email %></li>
  <li><label>Password:</label><%= f.password_field :password %></li>
  <li><label>Password confirmation:</label><%= f.password_field :password_confirmation %></li>
</ol>

<div class="actions">
  <%= f.submit "Create" %>
</div>

<% end %>
