
<% if group_fields.size > 1 %>
 <% rows.each do |group_name, row| %>
      <% if !@tr_open %>
        <% @tr_open = true %>
        <tr>
      <% end %>
      <th rowspan="<%= nested_size(row) + 1 %>">
	<span><%= get_row(row).instance_variable_get("@#{group_fields[0]}") %></span>
      </th>


    <%= render :partial=>'nested_rows', :locals=>{:rows=>row, :group_fields=>@group_fields[1..-1]} %>

      <!-- totals -->
      <% row = controller.sum(row) %>
      <!-- you will never be tr_open here -->
      <tr class="totals">
        <td>Totals</td>
<% if @fields.member? 'funds' %><td><%= '%.2f' % row.funds %></td><%end%>
<% if @fields.member? 'agency_other' %><td><%= '%.2f' % row.agency_other %></td><%end%>
<% if @fields.member? 'vehicle_maint' %><td><%= '%.2f' % row.vehicle_maint %></td><%end%>
<% if @fields.member? 'donations_fares' %><td><%= '%.2f' % row.donations_fares %></td><%end%>
<% if @fields.member? 'total' %><td><%= '%.2f' % row.total %></td><%end%>
<% if @fields.member? 'in_district_trips' %><td><%= row.in_district_trips %></td><%end%>
<% if @fields.member? 'out_of_district_trips' %><td><%= row.out_of_district_trips %></td><%end%>
<% if @fields.member? 'total_trips' %><td><%= row.total_trips %></td><%end%>
<% if @fields.member? 'total_last_year' %><td><%= '%.2f' % row.total_last_year %></td><%end%>
<% if @fields.member? 'mileage' %><td><%= row.mileage %></td><%end%>
<% if @fields.member? 'driver_volunteer_hours' %><td><%= '%.2f' % row.driver_volunteer_hours %></td><%end%>
<% if @fields.member? 'driver_paid_hours' %><td><%= '%.2f' % row.driver_paid_hours %></td><%end%>
<% if @fields.member? 'driver_total_hours' %><td><%= '%.2f' % row.driver_total_hours %></td><%end%>
<% if @fields.member? 'cost_per_trip' %><td><%= '%.2f' % row.cost_per_trip %></td><%end%>
<% if @fields.member? 'cost_per_mile' %><td><%= row.cost_per_mile == -1 ? 
                'N/A' :
                ('%.2f' % row.cost_per_mile) %></td><%end%>
<% if @fields.member? 'cost_per_hour' %><td><%= '%.2f' % row.cost_per_hour %></td><%end%>
<% if @fields.member? 'turn_downs' %><td><%= row.turn_downs %></td><%end%>
<% if @fields.member? 'undup_riders' %><td><%= row.undup_riders %></td><%end%>
<% if @fields.member? 'escort_volunteer_hours' %><td><%= row.escort_volunteer_hours %></td><%end%>
<% if @fields.member? 'admin_volunteer_hours' %><td><%= row.admin_volunteer_hours %></td><%end%>
<% if @fields.member? 'total_volunteer_hours' %><td><%= row.total_volunteer_hours %></td><%end%>
      </tr>
  <% end %>
<% else %>

    <% rows.each do |group_name, row| %>
    <% if !@tr_open %>
      <tr>
    <% end %>
<td><%= row.allocation.name %></td>
<% if @fields.member? 'funds' %><td><%= '%.2f' % row.funds %></td><%end%>
<% if @fields.member? 'agency_other' %><td><%= '%.2f' % row.agency_other %></td><%end%>
<% if @fields.member? 'vehicle_maint' %><td><%= '%.2f' % row.vehicle_maint %></td><%end%>
<% if @fields.member? 'donations_fares' %><td><%= '%.2f' % row.donations_fares %></td><%end%>
<% if @fields.member? 'total' %><td><%= '%.2f' % row.total %></td><%end%>
<% if @fields.member? 'in_district_trips' %><td><%= row.in_district_trips %></td><%end%>
<% if @fields.member? 'out_of_district_trips' %><td><%= row.out_of_district_trips %></td><%end%>
<% if @fields.member? 'total_trips' %><td><%= row.total_trips %></td><%end%>
<% if @fields.member? 'total_last_year' %><td><%= row.total_last_year %></td><%end%>
<% if @fields.member? 'mileage' %><td><%= row.mileage %></td><%end%>
<% if @fields.member? 'driver_volunteer_hours' %><td><%= '%.2f' % row.driver_volunteer_hours %></td><%end%>
<% if @fields.member? 'driver_paid_hours' %><td><%= '%.2f' % row.driver_paid_hours %></td><%end%>
<% if @fields.member? 'driver_total_hours' %><td><%= '%.2f' % row.driver_total_hours %></td><%end%>
<% if @fields.member? 'cost_per_trip' %><td><%= '%.2f' % row.cost_per_trip %></td><%end%>
<% if @fields.member? 'cost_per_mile' %><td><%= '%.2f' % row.cost_per_mile %></td><%end%>
<% if @fields.member? 'cost_per_hour' %><td><%= '%.2f' % row.cost_per_hour %></td><%end%>
<% if @fields.member? 'turn_downs' %><td><%= row.turn_downs %></td><%end%>
<% if @fields.member? 'undup_riders' %><td><%= row.undup_riders %></td><%end%>
<% if @fields.member? 'escort_volunteer_hours' %><td><%= row.escort_volunteer_hours %></td><%end%>
<% if @fields.member? 'admin_volunteer_hours' %><td><%= row.admin_volunteer_hours %></td><%end%>
<% if @fields.member? 'total_volunteer_hours' %><td><%= row.total_volunteer_hours %></td><%end%>
</tr>
<% @tr_open = false %>
<% end %>
<% end %>
