         <h1>Network Service Summary</h1>

	 Start: <%= @start_date %><br/>
	 End: <%= @end_date %> <br/>

   <%= link_to "CSV", @params.merge({:action=>:csv}) %>

         <table id="grouped-results">
           <thead>
             <tr>
               <th rowspan="2" colspan="<%= @group_fields.size - 1 %>"></th>
               <th rowspan="2">Name</th>
               <th rowspan="2">Funds</th>
               <th rowspan="2">Agency Other</th>
               <th rowspan="2">Vechicle Maint.</th>
               <th rowspan="2">Donations	Fares</th>
               <th rowspan="2">Total</th>
               <th rowspan="2">In District Rides</th>
               <th rowspan="2">Out of District Rides</th>
               <th rowspan="2">Total this Period</th>
               <th rowspan="2">Total this Period Last Year</th>
               <th rowspan="2">Mileage</th>
               <th colspan="3">Driver Hours</th>
               <th rowspan="2">Cost/Trip</th>
               <th rowspan="2">Cost/Mile</th>
               <th rowspan="2">Cost/Hour</th>
               <th rowspan="2">Turn Downs</th>
               <th rowspan="2">Undup Riders</th>
               <th colspan="3">Volunteer Hours</th>
             </tr>
             <tr>
               <th>Volunteer</th>
               <th>Paid</th>
               <th>Total</th>
               <th>Escort</th>
               <th>Admin</th>
               <th>Total</th>
             </tr>
           </thead>
           <tbody>
	     <%= render :partial=> "nested_rows", :locals=>{:rows=>@results, :group_fields=>@group_fields} %>
           </tbody>
         </table>

<!--[if !IE]><!-->
  <script>
  //<![CDATA[
  $('#grouped-results tbody tr th:first-child').height($('#grouped-results tbody tr th:first-child span').width() * 2).width(15);
  $('#grouped-results tbody tr th:first-child span').width(25);
  //]]>
  </script>
<!--<![endif]-->
