<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <ol class="section first">
      <li class="selfclear lastname">
        <%= f.label :last_name, "Last Name:" %>
        <%= f.text_field :last_name %>
      </li>
      
      <li class="selfclear firstname">
        <%= f.label :first_name, "First Name:" %>
        <%= f.text_field :first_name %>
      </li>

      <li class="selfclear middlename">
        <%= f.label :middle_initial, "Middle Initial:" %>
        <%= f.text_field :middle_initial %>
      </li>
      
      <li class="selfclear">
        <%= f.label :birthdate, "Date Of Birth:" %>
        <%= f.text_field :birthdate, :class => "datepicker" %>
      </li>
      
      <li class="selfclear">
        <%= f.label :sex, "Gender:" %>
        <%= f.select :sex, options_for_select([%w{Male M}, %w{Female F}, %w{N/A A}], @customer.sex) %>
      </li>
      
      <li class="selfclear">
        <%= f.label :race, "Race:" %>
	      <%= f.select :race, options_from_collection_for_select(Race.all, :name, :name, @customer.race), :include_blank => true %>
      </li>
      
      <li class="selfclear">
        <%= f.label :customer_type, "Customer Type:" %>
	      <%= f.select :customer_type, options_for_select(%w{Honored Adult Child}, @customer.customer_type), :include_blank => true %>
      </li>
      
      <li class="selfclear">
        <%= f.label :mobility, "Mobility:" %>
	      <%= f.select :mobility, options_from_collection_for_select(Mobility.all, :name, :name, @customer.mobility), :include_blank => true %>
      </li>
      
    </ol>

    <ol class="section second">
      
      <li class="selfclear">
        <%= f.label :primary_address, "Address:" %>
        <p class="disabled-input">
          <% %w{common_name building_name address_1 address_2 city state postal_code}.each do |attribute| %>
            <%= raw "#{@customer.primary_address[attribute]}<br/>" if @customer.primary_address[attribute].present? %>
          <% end %>
        </address>
      </li>
      
      <li class="selfclear">
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %>
      </li>

      <li class="selfclear">
        <%= f.label :telephone_primary, "Phone:" %>
        <%= f.text_field :telephone_primary %>
      </li>
      
      <li class="selfclear">
        <%= f.label :telephone_primary_extension, "Phone Ext:" %>
        <%= f.text_field :telephone_primary_extension %>
      </li>

      <li class="selfclear">
        <%= f.label :telephone_secondary, "Alt Phone:" %>
        <%= f.text_field :telephone_secondary %>
      </li>
      
      <li class="selfclear">
        <%= f.label :telephone_secondary_extension, "Alt Phone Ext:" %>
        <%= f.text_field :telephone_secondary_extension %>
      </li>

      <li class="selfclear">
        <%= f.label :language_preference, "Language Pref:" %>
        <%= f.text_field :language_preference %>
      </li>
    </ol>

    <ol class="section third">
      <li class="selfclear">
        <%= f.label :prime_number, "Prime Number:" %>
        <%= f.text_field :prime_number %>
      </li>
      
      <li class="selfclear">
        <%= f.label :spd_office, "SPD Office:" %>
        <%= f.text_field :spd_office %>
      </li>
      
      <li class="selfclear">
        <%= f.label :created_at, "Created At:" %>
        <%= content_tag :span, @customer.created_at %>
      </li>
      
      <li class="selfclear">
        <%= f.label :updated_at, "Updated At:" %>
        <%= content_tag :span, @customer.updated_at %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

<% end %>
