<%= form_for(@project) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <ol class="section ">
      <li class="selfclear">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </li>
      
      <li class="selfclear">
        <%= form.label :project_number %>
        <%= form.text_field :project_number %>
      </li>
      
      <li class="selfclear">
        <%= form.label :funding_source_id %>
        <%= form.collection_select :funding_source_id, FundingSource.default_order, :id, :name, :include_blank => true %>
        <%= link_to "Details", [:edit, @project.funding_source], :class => :details if @project.funding_source %>
      </li>
    </ol>
    
    <% if current_user.is_admin %>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

  </fieldset>


<% end %>
