<% grouped_options = false unless defined?(grouped_options) %>
<% if grouped_options %>
  <% items = [['<None>','']] + list_items.reduce([]){|result, item| result + item[1] } %>
<% else %>
  <% items = list_items %>
<% end %>
<li class="filter">
  <h3>
    <%= title %>
  </h3>
  <select class="multi" id="report_<%= name %>" multiple="multiple" name="flex_report[<%= name %>][]" size="<%= (items.try(:size) > 20) ? 20 : (items.try(:size) || 2)  %>" style="display: none">
    <% if grouped_options %>
      <%= options_for_select([['<None>','']],(values.blank? ? [''] : [])) %> 
      <%= grouped_options_for_select list_items, values %>
    <% else %>
      <%= options_for_select(list_items, values) %>
    <% end %>
  </select>
  <ul class="filter-list">
    <% items.each do |x| %>
      <li class="<%= (x[1] == '') ? "blank" : "not-blank" %>" data-value="<%= x[1] %>" style="display: <%= (values.include?(x[1]))? 'list-item' : 'none' %>">
        <%= x[0] %>
      </li>
    <% end %>
  </ul>
</li>
