<ol id="filters">
  <li>
    <h2>F.E. Projects</h2>
    <select class="multi full" id="report_funding_sources" multiple="multiple" name="flex_report[projects][]">
      <%= options_for_select(@projects, @report.project_ids) %>
    </select>
  </li>
  <li>
    <h2>Funding Sources</h2>
    <select class="multi full" id="report_funding_sources" multiple="multiple" name="flex_report[funding_sources][]">
      <%= options_for_select(@funding_sources, @report.funding_source_ids) %>
    </select>
  </li>
  <li>
    <h2>Reporting Agencies</h2>
    <select class="multi full" id="report_reporting_agency_names" multiple="multiple" name="flex_report[reporting_agencies][]">
      <%= options_for_select(@reporting_agencies, @report.reporting_agency_ids) %>
    </select>
  </li>
  <li>
    <h2>Providers</h2>
    <select class="multi full" id="report_providers" multiple="multiple" name="flex_report[providers][]">
      <%= options_for_select(@providers, @report.provider_ids) %>
    </select>
  </li>
  <li>
    <h2>Programs</h2>
    <select class="multi full" id="report_program_names" multiple="multiple" name="flex_report[programs][]">
      <%= options_for_select(@programs, @report.program_ids) %>
    </select>
  </li>
  <li>
    <h2>Counties</h2>
    <select class="multi full" id="report_county_names" multiple="multiple" name="flex_report[county_names][]">
      <%= options_for_select(@county_names, @report.county_names) %>
    </select>
  </li>
  <li>
    <h2>Individual Allocations</h2>
    <select class="multi full" id="report_allocations" multiple="multiple" name="flex_report[allocations][]">
      <%= options_for_select([['<Select None>','']],(@report.allocation_ids.blank? ? [''] : [])) %> 
      <%= grouped_options_for_select @grouped_allocations, @report.allocation_ids %>
    </select>
  </li>
</ol>
