  <fieldset class="main-form">
    <div class="selfclear">
      <ol class="section first">
        <li>
          <h2 class="section-header">Report Name</h2>
          <%= f.text_field :name %>
        </li>
        <li>
          <h2 class="section-header">Subtitle</h2>
          <%= f.text_field :subtitle %>
        </li>
        <li>
          <h2 class="section-header">Category</h2>
          <%= f.collection_select :report_category_id, ReportCategory.default_order, :id, :name, :include_blank => true %>
        </li>
        <li>
          <%= render :partial => 'grouping' %>
        </li>
      </ol>
      <ol class="section second">
        <li>
          <h2 class="section-header">Description</h2>
          <%= f.text_area :description %>
        </li>
      </ol>
    </div>

    <%= render 'filters' %>
    <%= render 'columns' %>
    <%= render 'date_range', :f => f %>

    <% if current_user.is_admin %>
      <div class="actions">
        <% action = @report.new_record? ? "Create" : "Update" %>
        <%= f.submit action %>
        <%= f.submit "#{action} and View", :name => "view" %>
        <%= f.submit "#{action} and Export Data", :name => "csv" %>
      </div>
    <% end %>

  </fieldset>
