  <fieldset>

    <ol class="section first">
      <li>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name, :size => 100 %>
      </li>
      <li>
        <h2>Funding Sources to Include</h2>
        <select class="multi full" id="report_funding_subsource_names" multiple="multiple" name="report[funding_subsource_names][]">
          <%= options_for_select(@funding_subsource_names, @report.funding_subsource_names) %>
        </select>
      </li>
      <li>
        <h2>Providers to Include</h2>
        <select class="multi full" id="report_providers" multiple="multiple" name="report[providers][]">
          <%= options_for_select(@providers, @report.provider_ids) %>
        </select>
      </li>
      <li>
        <h2>Subcontractors to Include</h2>
        <select class="multi full" id="report_subcontractor_names" multiple="multiple" name="report[subcontractor_names][]">
          <%= options_for_select(@subcontractor_names, @report.subcontractor_names) %>
        </select>
      </li>
      <li>
        <h2>Programs to Include</h2>
        <select class="multi full" id="report_program_names" multiple="multiple" name="report[program_names][]">
          <%= options_for_select(@program_names, @report.program_names) %>
        </select>
      </li>
      <li>
        <h2>Counties to Include</h2>
        <select class="multi full" id="report_county_names" multiple="multiple" name="report[county_names][]">
          <%= options_for_select(@county_names, @report.county_names) %>
        </select>
      </li>
      <li>
        <h2>Individual Allocations to Include</h2>
        <select class="multi full" id="report_allocations" multiple="multiple" name="report[allocations][]">
          <%= options_for_select([['<Select None>','']],(@report.allocation_ids.blank? ? [''] : [])) %> 
          <%= option_groups_from_collection_for_select Provider.default_order.includes(:allocations).all, :allocations, :name, :id, :select_label, @report.allocation_ids %>
        </select>
      </li>

      <li>
        <h2 class="section-header">Grouping</h2>
        <p><strong>Group by:</strong></p>
        <select id="group-by" name="report[group_by]">
          <% @group_bys.each do |fields| %>
            <%= group_by_option_tag fields %>
          <% end %>
      	  <option value="">Define Custom Grouping...</option>
        </select>

      	<div style="display:none;" id="group-by-custom-section">
          <p><strong>Select fields to group by:</strong></p>
          <span id="group-by-custom-wrapper">
            <span class="template">
              <select>
                <% FlexReport::GroupMappings.keys.sort.each do |key| %>
                  <%= content_tag :option, key.titleize, :value => key %>
                <% end %>
              </select>
            </span>
          </span>
          <p><a href="#" class="add">Add New Group Field</a></p>
      	</div>

      </li>
    </ol>

    <div id="report-fields-to-include" class="selfclear">
      <h2 class="section-header">Fields to Include</h2>

      <div id="report-checkbox-area">
        <ol>
          <li>
            <input type="checkbox" <%= checked?("funds") %> name="report[fields[funds]]" id="funds" value="1" /> 
            <label for="funds">RC Funds</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("agency_other") %> name="report[fields[agency_other]]" id="agency_other" value="1" /> 
            <label for="agency_other">Agency Other</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("vehicle_maint") %> name="report[fields[vehicle_maint]]" id="vehicle_maint" value="1" /> 
            <label for="vehicle_maint">Vehicle Maint.</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("operations") %> name="report[fields[operations]]" id="operations" value="1" /> 
            <label for="operations">Operations</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("administrative") %> name="report[fields[administrative]]" id="administrative" value="1" /> 
            <label for="administrative">Administrative</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("donations") %> name="report[fields[donations]]" id="donations" value="1" /> 
            <label for="donations">Donations</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("total") %> name="report[fields[total]]" id="total" value="1" /> 
            <label for="total">Total Costs</label>
          </li>
        </ol>
        <ol>
          <li>
            <input type="checkbox" <%= checked?("in_district_trips") %> name="report[fields[in_district_trips]]" id="in_district_trips" value="1" /> 
            <label for="in_district_trips">In District Trips</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("out_of_district_trips") %> name="report[fields[out_of_district_trips]]" id="out_of_district_trips" value="1" /> 
            <label for="out_of_district_trips">Out of District Trips</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("total_trips") %> name="report[fields[total_trips]]" id="total_trips" value="1" /> 
            <label for="total_trips">Total Trips</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("total_last_year") %> name="report[fields[total_last_year]]" id="total_last_year" value="1" /> 
            <label for="total_last_year">Total this Period Last Year</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("mileage") %> name="report[fields[mileage]]" id="mileage" value="1" /> 
            <label for="mileage">Mileage</label>
          </li>
        </ol>
        <ol>
          <li>
            <input type="checkbox" <%= checked?("driver_volunteer_hours") %> name="report[fields[driver_volunteer_hours]]" id="driver_volunteer_hours" value="1" /> 
            <label for="driver_volunteer_hours">Volunteer Driver Hours</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("driver_paid_hours") %> name="report[fields[driver_paid_hours]]" id="driver_paid_hours" value="1" /> 
            <label for="driver_paid_hours">Paid Driver Hours</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("driver_total_hours") %> name="report[fields[driver_total_hours]]" id="driver_total_hours" value="1" /> 
            <label for="driver_total_hours">Total Driver Hours</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("cost_per_trip") %> name="report[fields[cost_per_trip]]" id="cost_per_trip" value="1" /> 
            <label for="cost_per_trip">Cost/Trip</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("cost_per_mile") %> name="report[fields[cost_per_mile]]" id="cost_per_mile" value="1" /> 
            <label for="cost_per_mile">Cost/Mile</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("cost_per_hour") %> name="report[fields[cost_per_hour]]" id="cost_per_hour" value="1" /> 
            <label for="cost_per_hour">Cost/Hour</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("miles_per_ride") %> name="report[fields[miles_per_ride]]" id="miles_per_ride" value="1" /> 
            <label for="miles_per_ride">Miles/Trip</label>
          </li>
        </ol>
        <ol>
          <li>
            <input type="checkbox" <%= checked?("turn_downs") %> name="report[fields[turn_downs]]" id="turn_downs" value="1" /> 
            <label for="turn_downs">Turn Downs</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("undup_riders") %> name="report[fields[undup_riders]]" id="undup_riders" value="1" /> 
            <label for="undup_riders">Undup Riders</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("escort_volunteer_hours") %> name="report[fields[escort_volunteer_hours]]" id="escort_volunteer_hours" value="1" /> 
            <label for="escort_volunteer_hours">Volunteer Escort Hours</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("admin_volunteer_hours") %> name="report[fields[admin_volunteer_hours]]" id="admin_volunteer_hours" value="1" /> 
            <label for="admin_volunteer_hours">Volunteer Admin Hours</label>
          </li>
          <li>
            <input type="checkbox" <%= checked?("total_volunteer_hours") %> name="report[fields[total_volunteer_hours]]" id="total_volunteer_hours" value="1" /> 
            <label for="total_volunteer_hours">Total Non-Driver Volunteer Hours</label>
          </li>
        </ol>
      </div>
      
      <div class="selfclear">
        <h2 class="section-header">Description</h2>
        <%= f.text_area :description, :cols => nil, :rows => nil %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :id => "report-create" %>
      <!-- <input id="report-create" type="submit" value="Create Report" /> -->
    </div>

  </fieldset>
