<% if group_fields.size > 1 %>
  <!-- an outer layer, print group headers with proper level of indentation -->
  <% rows.sort_by {|k,v| row_sort(k,v)}.each do |group_name, row| %>
    <tr> 
      <% (@report.groups.size - group_fields.length).times do %>
        <td class="indent">&nbsp;</td>
      <% end %>
      <td class="report-item" colspan="<%= @report.results_fields.size + @report.group_fields.size %>"><%= group_name(row,group_fields).present? ? group_name(row,group_fields) : "(Unspecified)" %></td>
    </tr> 
    <%= render "nested_rows", :rows => row, :group_fields => group_fields[1..-1] %>
    <%= render 'totals', :row=>row, :group_fields=>group_fields[1..-1], :short_name => short_group_name(row,group_fields) %>
  <% end %>
<% else %>  
  <!-- innermost layer, render the data -->
  <% rows.sort_by {|k,v| row_sort(k,v)}.each do |group_name, row| %>
    <%= render "row", :row => row, :label => row.send(group_fields[0]) %>
  <% end %>
<% end %>

<% if group_fields.size == @report.group_fields.size %>
<%= render 'totals', :row=>rows, :group_fields=>group_fields, :name => "All" %>
<% end %>
