<tr class="data">
  <% (@report.groups.size - 1).times do %>
    <td class="indent">&nbsp;</td>
  <% end %>
  
  <td class="inner-most-field"><%= label %></td>
  <% if @report.results_fields.member? 'funds' %>
    <td class="number">
      <%= number_to_currency(row.funds, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'agency_other' %>
    <td class="number">
      <%= number_to_currency(row.agency_other, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'vehicle_maint' %>
    <td class="number">
      <%= number_to_currency(row.vehicle_maint, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'administrative' %>
    <td class="number">
      <%= number_to_currency(row.administrative, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'operations' %>
    <td class="number">
      <%= number_to_currency(row.operations, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'donations' %>
    <td class="number">
      <%= number_to_currency(row.donations, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'total' %>
    <td class="number total">
      <%= number_to_currency(row.total, :precision => 0, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'in_district_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.in_district_trips.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'out_of_district_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.out_of_district_trips.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'total_trips' %>
    <td class="number total">
      <%= number_with_delimiter(row.total_trips.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'total_last_year' %>
    <td class="number">
      <%= number_with_delimiter(row.total_last_year.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'mileage' %>
    <td class="number">
      <%= number_with_delimiter(row.mileage.round) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'driver_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.driver_volunteer_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'driver_paid_hours' %>
    <td class="number">
      <%= number_with_precision(row.driver_paid_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'driver_total_hours' %>
    <td class="number total">
      <%= number_with_precision(row.driver_total_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'cost_per_trip' %>
    <td class="number">
      <%= row.cost_per_trip.present? ? number_to_currency(row.cost_per_trip, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'cost_per_mile' %>
    <td class="number">
      <%= row.cost_per_mile.present? ? number_to_currency(row.cost_per_mile, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'cost_per_hour' %>
    <td class="number">
      <%= row.cost_per_hour.present? ? number_to_currency(row.cost_per_hour, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'miles_per_ride'%>
    <td class="number">
      <%= row.miles_per_ride.present? ? number_with_precision(row.miles_per_ride, :precision => 1, :delimiter => ",") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'turn_downs' %>
    <td class="number">
      <%= number_with_delimiter(row.turn_downs.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'undup_riders' %>
    <td class="number">
      <%= number_with_delimiter(row.undup_riders.to_i) %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'escort_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.escort_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'admin_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.admin_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
  <% if @report.results_fields.member? 'total_volunteer_hours' %>
    <td class="number total">
      <%= number_with_precision(row.total_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
</tr>
