<% short_name = short_group_name(row,group_fields) %>
<% row = ReportRow.sum(row, nil, columns) %>
<% totals_class = (group_fields.size >= 3 || (defined?(grand_total) && grand_total)) ? "sum-totals" : "totals" %>
<% currency_precision = 0 if currency_precision.nil? %>
<% section = 'section-main' if section.nil? %>
<%= content_tag :tr, :class => "#{row_classes.join(' ')} #{section} #{totals_class} level-#{tree_map.size}"  do %>
  <% if defined?(total_label) %>
    <%= content_tag :td, :colspan => group_fields.size + 1 do %>
      <%= total_label %>
    <% end %>
  <% elsif defined?(grand_total) && grand_total %>
    <%= content_tag :td, :colspan => group_fields.size + 1 do %>
      Grand Total
    <% end %>
  <% else %>
    <% (report_group_fields.size - group_fields.size + 1).times do %>
      <td class="indent">&nbsp;</td>
    <% end %>
    <%= content_tag :td, :colspan => group_fields.size do %>
      <% if short_name.present? %>
        <%= short_name %>
      <% else %>
        Unspecified
      <% end %>
      Total
    <% end %>
  <% end %>
  <% if columns.include? 'funds' %>
    <td class="number">
      <%= number_to_currency(row.funds, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'agency_other' %>
    <td class="number">
      <%= number_to_currency(row.agency_other, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'vehicle_maint' %>
    <td class="number">
      <%= number_to_currency(row.vehicle_maint, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'administrative' %>
    <td class="number">
      <%= number_to_currency(row.administrative, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'operations' %>
    <td class="number">
      <%= number_to_currency(row.operations, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'donations' %>
    <td class="number">
      <%= number_to_currency(row.donations, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'total' %>
    <td class="number">
      <%= number_to_currency(row.total, :precision => currency_precision, :negative_format => "(%u%n)") %>
    </td>
  <% end %>
  <% if columns.include? 'in_district_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.in_district_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'out_of_district_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.out_of_district_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'customer_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.customer_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'guest_and_attendant_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.guest_and_attendant_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'volunteer_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.volunteer_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'total_trips' %>
    <td class="number">
      <%= number_with_delimiter(row.total_trips.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'turn_downs' %>
    <td class="number">
      <%= number_with_delimiter(row.turn_downs.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'no_shows' %>
    <td class="number">
      <%= number_with_delimiter(row.no_shows.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'cancellations' %>
    <td class="number">
      <%= number_with_delimiter(row.cancellations.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'unmet_need' %>
    <td class="number">
      <%= number_with_delimiter(row.unmet_need.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'other_results' %>
    <td class="number">
      <%= number_with_delimiter(row.other_results.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'total_requests' %>
    <td class="number">
      <%= number_with_delimiter(row.total_requests.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'mileage' %>
    <td class="number">
      <%= number_with_delimiter(row.mileage.round) %>
    </td>
  <% end %>
  <% if columns.include? 'driver_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.driver_volunteer_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if columns.include? 'driver_paid_hours' %>
    <td class="number">
      <%= number_with_precision(row.driver_paid_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if columns.include? 'driver_total_hours' %>
    <td class="number">
      <%= number_with_precision(row.driver_total_hours, :precision => 1, :delimiter => ',') %>
    </td>
  <% end %>
  <% if columns.include? 'cost_per_trip' %>
    <td class="number">
      <%= row.cost_per_trip.present? ? number_to_currency(row.cost_per_trip, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'cost_per_customer' %>
    <td class="number">
      <%= row.cost_per_customer.present? ? number_to_currency(row.cost_per_customer, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'cost_per_mile' %>
    <td class="number">
      <%= row.cost_per_mile.present? ? number_to_currency(row.cost_per_mile, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'cost_per_hour' %>
    <td class="number">
      <%= row.cost_per_hour.present? ? number_to_currency(row.cost_per_hour, :negative_format => "(%u%n)") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'miles_per_ride'%>
    <td class="number">
      <%= row.miles_per_ride.present? ? number_with_precision(row.miles_per_ride, :precision => 1, :delimiter => ",") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'miles_per_customer'%>
    <td class="number">
      <%= row.miles_per_customer.present? ? number_with_precision(row.miles_per_customer, :precision => 1, :delimiter => ",") : raw("&mdash;") %>
    </td>
  <% end %>
  <% if columns.include? 'undup_riders' %>
    <td class="number">
      <%= number_with_delimiter(row.undup_riders.to_i) %>
    </td>
  <% end %>
  <% if columns.include? 'escort_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.escort_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
  <% if columns.include? 'admin_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.admin_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
  <% if columns.include? 'total_volunteer_hours' %>
    <td class="number">
      <%= number_with_precision(row.total_volunteer_hours, :precision => 1, :delimiter => ",") %>
    </td>
  <% end %>
  <td class="no-print">
    <%= row_trip_link @report, row %>
    <%= row_summary_link @report, row %>
  </td>
<% end %>
