<div id="page-header">
  <% if current_user.is_admin %>
    <h1>Edit Flex Report</h1>
  <% else %>
    <h1>Flex Report Definition</h1>
  <% end %>
</div>

<%= render "shared/error_messages", :target => @report %>

<%= form_for @report do |form| %>
  <%= render "form", :f => form %>
<% end %>

<% if current_user.is_admin %>
  <%= form_for @report, :html => { :method => 'delete' } do |f| %>
    <input type="hidden" name="report[id]" value="<%= @report.id %>" />
    <%= f.submit "Delete Report", :confirm=>"Are you sure you want to delete this report?", :class=>'delete-report' %>
  <% end %>
<% end %>
