<div id="page-header">
  <h1>Edit Flex Report</h1>
</div>

<%= form_for(@report, :html => {:class => "run-report", :method => :get}) do |f| %>
  <fieldset>
    <h2>Run Report</h2>
    <hr>
    <%= render "run_form", :f => f, :report => @report, :ol_class => "section" %>
  </fieldset>
<% end %>

<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @report do |form| %>
  <%= render "form", :f => form %>
<% end %>
