<% content_for :head do -%>
  <%= javascript_tag do -%>
  <% end -%>
<% end -%>

<div id="page-header">
  <h1>Flex Reports</h1>
</div>

<% if @reports.size == 0 %>
  <p>No reports.</p>
<% end %>

<ul id="all-reports">
  <% categorized_reports = @reports.group_by{|r| r.report_category.try(:name)} %>
  <% categorized_reports.keys.sort_by{|k| k || ''}.each do |category| %>
    <div class="report-category">
      <h1><%= category || "Unspecified Category" %></h1>
      <% categorized_reports[category].sort_by{|r| r.name}.each do |report| %>
        <li class="flex-report">
          <% if current_user.is_admin %>
            <%= link_to "Edit Report", edit_flex_report_path(report), :class => "edit" %>
          <% else %>
            <%= link_to "View Report Definition", edit_flex_report_path(report), :class => "details" %>
          <% end %>

          <%= form_for report, :html => { :class => "run-report", :method => :get } do |f| %>
            <fieldset>
              <h2 class="report-header" title="<%= report.description %>"><%= report.name %></h2>
              <div class="subtitle">
                <%= report.subtitle %>
              </div>
              <%= content_tag(:div, "Grouping: #{group_by_label(report.group_fields)}", :class => "grouping-description") if report.group_fields.present? %>
              <%= render "run_form", :f => f, :report => report, :ol_class => "index" %>
            </fieldset>
          <% end %>
        </li>
      <% end %>
    </div>
  <% end %>
</ul>
