<div id="page-header">
  <h1><% if @report.name %><%= @report.name %><% else %>Network Service Summary<% end %></h1>
</div>

<div id="date-header">
  <span class="month-range">
    <%= report_month_range @report.start_date, @report.query_end_date %>
  </span>
  <span class="separator csv">|</span>
  <%= link_to "CSV", params.merge({:format=>:csv}), :class=>"csv" %>
  <% if current_user.is_admin %>
    <span class="separator edit">|</span>
    <%= link_to "Edit Report", edit_flex_report_path(@report), :class => "edit" %>
  <% end %>
</div>

<%= content_tag(:div, @report.subtitle, :id => "report-description") if @report.subtitle.present? %>
<%= content_tag(:div, "Grouping: " << @report.group_fields.join(", ").titleize, :id => "grouping-description") if @report.group_fields.present? %>

<%= render :partial=> "report", :locals=>{:results=>@report.results, :group_fields=>@report.group_fields} %>
