<div id="page-header">
  <h1><% if @report.name %><%= @report.name %><% else %>Network Service Summary<% end %></h1>
</div>

<div id="date-header">
  <span class="month-range">
    <%= report_month_range @report.start_date, @report.query_after_end_date %>
  </span>
  <span class="separator no-print">|</span>
  <%= link_to "CSV", params.merge({:format=>:csv}), :class=>"csv" %>
  <% if current_user.is_admin %>
    <span class="separator no-print">|</span>
    <%= link_to "Edit Report", edit_flex_report_path(@report), :class => "edit" %>
  <% end %>
  <span class="separator no-print">|</span>
  <a href="#" id="collapse-all" class="collapse no-print">Collapse All</a>
  <span class="separator no-print">|</span>
  <a href="#" id="expand-all" class="expand no-print">Expand All</a>
  <span class="separator no-print">|</span>
  <a href="#" id="show-update-form" class="no-print">Update View</a>
</div>

<%= content_tag(:div, @report.subtitle, :id => "report-description") if @report.subtitle.present? %>
<%= content_tag(:div, "Grouping: #{group_by_label(@report.group_fields)}", :id => "grouping-description") if @report.group_fields.present? %>

<%= form_for @report, :html => {:class => 'run-report', :method => :get, :style => "display:none;"} do |f| %>
  <fieldset class="no-print">
    <%= render 'grouping' %>
    <%= render 'columns' %>
    <%= render 'date_range', :f => f %>
    <div class="actions">
      <%= f.submit "Update View" %>
      <%= f.submit "Export as CSV", :name => "csv" %>
    </div>
  </fieldset>
<% end %>

<%= render "report", :results => @report.results, :group_fields => @report.group_fields %>
