         <h2 id="result-count"><%= @runs.total_entries %> runs found.</h2>
         <% if @runs.total_entries > 0 %>
            <%= link_to 'Mark all as complete', :action=>:bulk_update, "query[start_date]" => @query.start_date, "query[end_date]" => @query.end_date %>
         <table id="run-results">
           <thead>
             <tr>
               <th>Routematch ID</th>
               <th>Start Time</th>
               <th>End Time</th>
               <th>Odometer Start</th>
               <th>Odometer End</th>
               <th>Escort Count</th>
               <th>Complete</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
             <% @runs.each do |run| %>
             <tr>
               <td><%= run.routematch_id %></td>
               <td><%= run.start_at %></td>
               <td><%= run.end_at %></td>
               <td><%= run.odometer_start %></td>
               <td><%= run.odometer_end %></td>
               <td><%= run.escort_count %></td>
               <td><span class="status-<%= (run.complete) ? "" : "in" %>complete"><%= run.complete %></span></td>
               <td><%= link_to "Details", :action=>:show, :id=>run.id %></td>
             </tr>
             <% end %>
           </tbody>
         </table>
         <% end %>
<%= will_paginate @runs %>
