<% if group_fields.size > 1 %>
  <!-- an outer layer, print group headers with proper level of indentation -->
  <% rows.sort_by {|k,v| row_sort(k,v)}.each do |group_name, row| %>
    <tr> 
      <% (@groups_size - group_fields.length).times do %>
        <td class="indent">&nbsp;</td>
      <% end %>
    <td class="report-item" colspan="<%= @fields.size + @group_fields.size %>"><%=  get_row(row).send(group_fields[0])%></td>
  
    <%= render "nested_rows", :rows => row, :group_fields => group_fields[1..-1] %>
    <%= render :partial=>'totals', :locals=>{:row=>row, :group_fields=>group_fields[1..-1]} %>
  <% end %>
<% else %>  
  <!-- innermost layer, render the data -->
  <% rows.each do |group_name, row| %>
    <%= render "row", :row => row, :label => row.send(group_fields[0]) %>
  <% end %>
<% end %>

<% if group_fields.size == @levels %>
<%= render :partial=>'totals', :locals=>{:row=>rows, :group_fields=>group_fields} %>
<% end %>