<div id="page-header">
  <h1>Predefined Reports</h1>
</div>

<% if @reports.size == 0 %>
<p>No reports.</p>
<% end %>

<% for report in @reports %>

<div class="predefined-report">
  

  <%= form_for report, :url=>{:action=>:delete_report} do |f| %>
    <%= link_to "Edit Report", edit_report_path(report), :class => "edit" %>
    <input type="hidden" name="report[id]" value="<%= report.id %>" />
    <%= f.submit "Delete Report", :confirm=>"Are you sure you want to delete this report?", :class=>'delete-report' %>
  <% end %>

  <form action="<%= url_for :action=>:report %>" class="run-report">
    <fieldset>
      <h2 class="report-header"><%= report.name %></h2>
      <%= content_tag :p, report.description if report.description.present? %>

      <input type="hidden" name="report[id]" value="<%= report.id %>" />
      <input type="hidden" name="report[adjustment]" value="0" />
      <input type="hidden" name="report[pending]" value="0" />

      <ol>
        <li><label>Start Date:</label> <%= date_select( :report, "start_date", :end_year => Time.now.year, :order => [:month, :year] ) %></li>
        <li><label>End Date:</label> <%= date_select( :report, "end_date", :end_year => Time.now.year, :order => [:month, :year] ) %></li>
        <li><input type="checkbox" name="report[adjustment]" value="1" /> <label for="report[adjustment]">Adjustments</label></li>
        <li><input type="checkbox" name="report[pending]" value="1" /> <label for="report[pending]">Pending</label></li>
      </ol>

      <input type="submit" name="commit" value="View Report"/>

    </fieldset>
  </form>

</div>

<% end %>

<hr />

<%= link_to 'Define New Report', { :action=>:show_create_report }, :class=>'action-bttn' %>
