<div id="page-header">
  <h1>Quarterly Narrative Report</h1>
</div>

<% for field, rows in @allocations %>
<% allocation = get_row(rows).allocation %>
<h2><%= allocation.provider_name %> &mdash; <%= describe_date_range(@report.start_date, @report.end_date) %></h2>
<h3>Program: <%= allocation.name %></h3>
<h3>County: <%= allocation.county %></h3>
<h3>Funding Source: <%= allocation.funding_source %></h3>

<div>Instructions: Please review the numbers provided for this funding
source. If any discrepancies are found, they should be reported on the
last page of this report. In the event there is a discrepancy with
ride numbers, please indicate your corrections in terms of "in" and
"out" of district rides and which Ride Purpose categories this change
effects.</div>

<div class="report-wrapper">
<table>
  <%= render "header" %>
  <% for month, row in rows do %>
    <%= render "row", :row => row, :label => month %>
  <% end %>
  
  <%= render 'totals', :row=>rows, :group_fields=>@group_fields %>
  
</table>
</div>

<br/>
Signature: _______________________ </br>

<hr style="page-break-after: always;"/>
<% end %>
