
<h1>Quarterly Narrative Report - Quarter <%=@quarter%></h1>

<% for field, rows in @allocations %>
<% allocation = get_row(rows).allocation %>
<h2><%= allocation.provider.name %> (<%= @report.start_date %> - <%= @report.end_date.prev_day %>)</h2>
<h3>Program: <%= allocation.name %></h3>
<h3>County: <%= allocation.county %></h3>
<h3>Funding Source: <%= allocation.project.funding_source %></h3>

<div>Instructions: Please review the numbers provided for this funding
source. If any discrepancies are found, they should be reported on the
last page of this report. In the event there is a discrepancy with
ride numbers, please indicate your corrections in terms of "in" and
"out" of district rides and which Ride Purpose categories this change
effects.</div>

<%= render :partial=> "report", :locals=>{:results=>rows, :group_fields=>@group_fields[1..-1]} %>

<br/>
Signature: _______________________ </br>

<hr style="page-break-after: always;"/>
<% end %>
