<div id="page-header">
  <h1><% if @report.name %><%= @report.name %><% else %>Network Service Summary<% end %></h1>
</div>

<p>
  Start: <%= @start_date %> 
  <span class="separator">|</span> 
  End: <%= @end_date %> 
  <span class="separator csv">|</span> 
  <%= link_to "CSV", @params.merge({:action=>:csv}), :class=>"csv" %>
</p>

<%= form_for @report, :url=>{:action=>:save_report} do |f| %>

  <!-- save report link -->

  <%= f.hidden_field :id %>
  <%= f.hidden_field :group_by %>
  <%= f.hidden_field :start_date, :value=>@start_date  %>
  <%= f.hidden_field :end_date, :value=>@end_date %>
  <%= f.hidden_field :allocation_list %>
  <%= f.hidden_field :field_list %>

<p>
  <%= f.label :name, "Save this report as:" %>
  <%= f.text_field :name %>
  <%= f.submit "Save" %>
</p>

<% end %>

<%= render :partial=> "report", :locals=>{:results=>@results, :group_fields=>@group_fields} %>
