<div id="page-header">
  <h1>Active Rider Report</h1>
</div>

<form>
  <p>
    <label>Choose Month:</label> <%= date_select :start_selector, :discard_day=>true %>
  	<input id="summary-search" type="submit" value="Search" />
  </p>
</form>

<h2>Month: Jan 2011</h2>

<table id="active-rider-results" class="results">
  <thead>
    <tr>
      <th>Case Manager</th>
      <th>Date Enrolled</th>
      <th>Customer</th>
      <th>Prime Number</th>
      <th>Service End</th>
      <th>Approved Rides</th>
      <th>Billed Rides</th>
      <th>Billable Mileage</th>
      <th>Scooter or WC</th>
    </tr>
  </thead>
  <tbody>
    <% for office in @customer_rows.keys.sort %>
      <tr>
        <td class="contrast banner" colspan="9">Beaverton</td>
      </tr>
      <% for customer_row in @customer_rows[office].values.sort {|a,b| a[:customer].name <=> b[:customer].name } %>
        <% customer = customer_row[:customer] %>
        <tr>
          <td><%= customer.case_manager %></td>
          <td><%= customer.date_enrolled %></td>
          <td><%= customer.first_name %> <%= customer.middle_initial %> <%= customer.last_name %> </td>
          <td><%= customer.prime_number %></td>
          <td><%= customer.service_end %></td>
          <td><%= customer.approved_rides %></td>
          <td><%= customer_row[:billed_rides] %></td>
          <td><%= "%.2f" % customer_row[:billable_mileage] %></td>
          <td><%= customer_row[:mobility] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
