<div id="page-header">
  <h1>Create Quarterly Narrative Report</h1>
</div>

<%= form_for @report, :html=>{:id=>"create-report", :method=>:get}, :url=>{:action=>"quarterly_narrative_report"} do |f| %>
  <fieldset>

    <p>
      <%= f.label :start_date, "Start Month:" %>
      <%= f.date_select :start_date, :order=>[:month,:year] %>
      <%= f.label :end_month, "End Month:" %>
      <%= f.date_select :end_date, :order=>[:month,:year] %>
      <%= f.label :provider_id %>
      <%= select_tag "provider_id", options_for_select([['<All Providers>','']] + Provider.all.map { |p| [p.name, p.id] }) %>
    </p>

    <div class="actions">
      <input id="report-create" type="submit" value="Create Report" />
    </div>

  </fieldset>
<% end %><!-- end form -->
