<!DOCTYPE html>
<html>
<head>
  <title>Lowdown</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <div class="wrap selfclear">
      <a id="logo" href="#"><strong>Low</strong>down</a>
      <div id="login-area">
        <% if current_user %>
        <a href="#"><%= current_user.name %></a> | <a href="#">Log out</a>
        <% end %>
      </div>
    </div><!-- /.wrap -->
  </div><!-- /#header -->

<%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>

   <div id="main">
     <div class="wrap selfclear">
       <%= raw flash_messages %>
       <%= yield %>
     </div><!-- /.wrap -->
   </div><!-- /#main -->
</body>
</html>
