<% content_for :menu_bar do %>
  <ul id="subnav" class="selfclear">
    <li><%= link_to "Trip Adjustment History", {:action=>:adjustments}, :class=>:history %></li>
    <% if current_user.is_admin %>
      <li><%= link_to "Import Trips", {:action=>:show_import}, :class=>:import %></li>
      <li><%= link_to "Move Trips", {:action=>:update_allocation}, :class=>:move %></li>
    <% else %>
      <li><%= link_to "Trip Import History", {:action=>:show_import}, :class=>:import %></li>
    <% end %>
  </ul>
<% end %>

<%= render :file => 'layouts/application' %>
